p {
    font-size: 1rem;
    text-align: justify;
}

.nota {
    font-size: 1.2rem;
}

ul,
td label {
    font-size: 1rem;
    text-align: justify;
}

.negrita {
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.cursiva {
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
}

td {
    word-wrap: break-word !important;
    white-space: normal;
}

ul {
    list-style-type: disc;
}

h4 i {
    padding-left: 30px;
}

.table td,
td label {
    font-size: 1rem;
    text-align: justify;
}

.ul li {
    list-style: none;
}

.nav-link-sublink {
    padding: 0px 0px 0px 20px;
}

.menu-title-sublink {
    margin-bottom: 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* O "contain" según lo que prefieras */
    display: block;
    /* Elimina el espacio blanco debajo de la imagen */
}

.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    /* Estar sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Permitir desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semi-transparente */
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    margin: 15% auto;
    /* Centrado verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ancho del modal */
    max-width: 500px;
    /* Ancho máximo del modal */
    text-align: center;
}

/* Botón para cerrar el modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para la palabra que activa el modal */
.trigger-word {
    color: blue;
    cursor: pointer;
}