{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Codificaci&oacute;n - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'planificacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="background: #4B49AC; color: white;" href="{% url 'codificacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div >
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'construccion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pruebas' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'liberacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'despliegue' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'operaciones' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'monitoreo' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'referencias' %}">
                  <i class="icon-grid menu-icon"></i>
                  <span class="menu-title">Referencias</span>
              </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Herramientas</h2>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>Para la Codificaci&oacute;n se utilizan software de control de versiones, editores de código e IDEs
                    de
                    programación pues permite a los equipos escribir código, colaborar en el mismo, minimizando así, los
                    conflictos y facilita la práctica de integración continua. A continuación, se describen estos:
                    <br>
                  </p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-cv" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Control de versiones <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-cv">
                          <p>
                            Los sistemas de control de versiones son herramientas que actúan como repositorios
                            centralizados, facilitando que todos los miembros del equipo de desarrollo tengan acceso a
                            los cambios (propiedad colectiva del código). Además, con ellas se logra lo siguiente:
                          <ul>
                            <li>Almacenan todos los cambios en un historial para permitir su trazabilidad.</li>
                            <li>Se puede revertir rápidamente a una versión estable anterior en caso de error durante la
                              integración.</li>
                            <li>Permite una recuperación de fallas sin demoras significativas.</li>
                          </ul>
                          (Pastrana-Pardo et al., 2022)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ide" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Entornos de desarrollo integrados (IDE) <i class="fa fa-eye mx-0"></i>
                          </h4>
                        </a>
                        <div class="collapse" id="ui-ide">
                          <p>
                            Es una aplicación de software que ayuda a los programadores a desarrollar código de software
                            de manera eficiente. Incluyen funcionalidades que van más allá de la edición de texto y
                            proporcionan una interfaz central para herramientas de desarrollo comunes (AWS, 2023). Entre
                            ellas incluyen:
                            <br>
                          <ul>
                            <li>Automatización de la edición de código: Permite realizar tareas repetitivas de edición
                              de código automáticamente, como formateo o alineación de código, lo que ahorra tiempo y
                              reduce errores humanos.</li>
                            <li>Resaltado de sintaxis: Mejora la legibilidad del código al aplicar diferentes colores a
                              palabras clave, variables y estructuras del lenguaje de programación, facilitando la
                              identificación de errores y la comprensión del código.</li>
                            <li>Finalización de código inteligente: Proporciona sugerencias de autocompletado basadas en
                              el contexto y el análisis del código, acelerando el proceso de escritura y reduciendo los
                              errores tipográficos.</li>
                            <li>Refactorización del soporte: Permite reorganizar y modificar el código sin cambiar su
                              comportamiento externo, ayudando a mejorar su estructura, legibilidad y mantenibilidad.
                            </li>
                            <li>Automatización de la creación local: acilita la ejecución de tareas de desarrollo como
                              compilación o pruebas en el entorno local del desarrollador, agilizando el flujo de
                              trabajo​. </li>
                            <li>Compilación: Traduce el código fuente en un ejecutable o en un formato que la máquina
                              pueda entender, asegurando que el software funcione correctamente en diferentes entornos​.
                            </li>
                            <li>Pruebas: Ejecuta automáticamente pruebas unitarias, de integración, y funcionales para
                              verificar que el software funciona como se espera antes de su despliegue.</li>
                            <li>Depuración: Proporciona herramientas para identificar, rastrear y corregir errores en el
                              código, mejorando la estabilidad y funcionalidad del software.</li>
                          </ul>
                          (Mani, 2024; Swimm, 2023; Vladasel, 2022)
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la
                    Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td style="text-align: center;">
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Reporte</h4>

                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">
                              <div class="col-lg-12 stretch-card">
                                <h2 style="text-align: center;" class="col-lg-8 text-primary">
                                  {{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 style="text-align: center;" class="col-lg-4 text-primary">{{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p style="text-align: center;" class="mb-2 mb-xl-0">El total de categor&iacute;as de herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
                href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->


  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}");

</script>

</html>