{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Construcci&oacute;n - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-plan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-plan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-codif" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-codif">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-const" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-const">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'construcciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-prueb" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-prueb">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-lib" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-lib">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-desp" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-desp">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguetareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguepracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'despliegueherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-op" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-op">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionestareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionesherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-mon" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-mon">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreotareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreopracticas' %}">Pr&aacute;cticas</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreoherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Construcci&oacute;n</h2>

                </div>
              </div>
            </div>

            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 

                </div>
              </div>
            </div>


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripción de la Actividad</h4>
                  <p>
                    En esta actividad se realiza la compilación, enlace o términos similares
                    referentes a crear el empaquetado de la solución. Esta actividad depende de las
                    instrucciones propias del lenguaje de programación y es una tarea repetitiva que
                    se puede automatizar. (Perera et al., 2017).
                    <br>
                    <br>
                    Se busca integrar y compilar los códigos realizados para garantizar que los
                    cambios no han impedido esta labor. (Sousa et al., 2019)
                    <br>
                    <br>
                    La construcción integra las nuevas funcionalidades que se codificaron y crea los
                    nuevos artefactos añadiendo las nuevas funcionalidades. Así como las pruebas
                    permiten asegurar que tanto las nuevas funcionalidades como las antiguas se
                    ejecutan correctamente. (Badshah et al., 2020).
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>Para la Construcción se utilizan herramientas de compilación o empaquetado que permiten automatizar
                    el proceso de convertir el código fuente en un programa ejecutable o en otro formato intermedio, es
                    decir, para convertir el código fuente escrito en un lenguaje de programación, como C++, Java, o
                    Python, en un formato ejecutable, como un archivo .exe en Windows armando la unidad desplegable. A
                    continuaci&oacute;n se describe:</p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ce" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Compilación o empaquetado <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-ce">
                          <p>
                            La compilación es el proceso de traducción de un código fuente (escrito en un lenguaje de
                            programación de alto nivel) a lenguaje máquina (código objeto) para que pueda ser ejecutado
                            por la computadora (Definicion.de, 2024a; phenobarbital, 2010).
                            <br>
                            En términos generales, el empaquetado es el proceso de almacenar o preparar un producto para
                            su transporte y/o venta. Consiste en la acción de guardar o envolver el producto de tal
                            manera que esté listo para su traslado, exhibición o consumo. (Definicion.de, 2024b).
                            <br>
                            En el desarrollo de software, es el proceso que permite que la aplicación funcione en el
                            dispositivo deseado, computadora o un dispositivo móvil o incluso un entorno de producción o
                            un servidor de prueba (Thales, 2023). En (NinjaOne, 2024) lo refieren como varios productos
                            de software empaquetados juntos, el usuario final suele verlo como una entidad única, que
                            pueden estar compuestos por varias aplicaciones informáticas distintas.
                            <br>
                            Algunas funcionalidades que se pueden encontrar en las herramientas de compilación o
                            empaquetado son las siguientes:
                          <ul>
                            <li>Compilación de código fuente.</li>
                            <li>Gestión de Dependencias: Manejan y resuelven las dependencias del proyecto, descargando
                              y organizando las bibliotecas necesarias para que el software funcione correctamente.
                            </li>
                            <li>Empaquetado de la aplicación: Crean paquetes de software listos para ser distribuidos,
                              lo que incluye la preparación de instaladores y la generación de contenedores o archivos
                              ejecutables​.</li>
                            <li>Automatización de la compilación: Permiten compilar automáticamente el código fuente en
                              ejecutables o bibliotecas, asegurando que el software se construya de manera consistente
                              cada vez.</li>
                            <li>Integración con repositorios de código: </li>
                            <li>Integración con herramientas de pruebas: Se integran para pruebas unitarias, de
                              integración y de
                              aceptación para validar que el código funciona como se espera antes de ser desplegado​.
                            </li>
                            <li>Integración con herramientas de despliegue: Para facilitar la implementación automática
                              del
                              software en diferentes entornos (desarrollo, pruebas, producción) mediante scripts o
                              configuraciones predefinidas​.</li>
                          </ul>
                          (Mani, 2024; Swimm, 2023; Vladasel, 2022)
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td>
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Reporte</h4>

                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">                              
                              <div class="col-lg-12 stretch-card">
                                <h2 class="col-lg-8 text-primary">{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 class="col-lg-4 text-primary">{{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p class="mb-2 mb-xl-0">El total de categor&iacute;as de herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. 
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
              href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>            
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}") + "%";

</script>

</html>