{% load static %}
{% load socialaccount %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DevOps</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'images/logo-mini.png' %}" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img
                        src="{% static 'images/logo.png' %}" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
                        src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inicio' %}">
                            <i class="fa fa-home mx-0"></i>
                            <span class="count">Home</span>
                        </a>
                    </li>

                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            {% if user.is_authenticated %}
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
                            {% else %}
                            <img src="{% static 'images/faces/face28.jpg' %}" alt="profile" />
                            {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                                <i class="ti-settings text-primary"></i>
                                Editar Perfil
                            </a>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}">
                                <i class="ti-power-off text-primary"></i>
                                Cerrar Sesi&oacute;n
                            </a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'google_login' %}">
                                <i class="ti-power-off text-primary"></i>
                                Iniciar Sesi&oacute;n
                            </a>
                            {% endif %}
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'indexdash' %}">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">DevOps</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'actividades' %}">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Actividades</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-plan" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Planificaci&oacute;n</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-plan">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'planificaciontareas' %}">Tareas</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'planificacionpracticas' %}">Pr&aacute;cticas</a>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'planificacionherramientas' %}">Herramientas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-codif" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Codificaci&oacute;n</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-codif">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'codificaciontareas' %}">Tareas</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'codificacionherramientas' %}">Herramientas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-const" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Construcci&oacute;n</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-const">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'construcciontareas' %}">Tareas</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'construccionpracticas' %}">Pr&aacute;cticas</a>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'construccionherramientas' %}">Herramientas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-prueb" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Pruebas</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-prueb">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a>
                                </li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-lib" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Liberaci&oacute;n</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-lib">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="{% url 'liberaciontareas' %}">Tareas</a>
                                </li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'liberacionpracticas' %}">Pr&aacute;cticas</a>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'liberacionherramientas' %}">Herramientas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-desp" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Despliegue</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-desp">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguetareas' %}">Tareas</a>
                                </li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'desplieguepracticas' %}">Pr&aacute;cticas</a>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'despliegueherramientas' %}">Herramientas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-op" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Operaciones</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-op">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'operacionestareas' %}">Tareas</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'operacionesherramientas' %}">Herramientas</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-mon" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Monitoreo</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-mon">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreotareas' %}">Tareas</a>
                                </li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'monitoreopracticas' %}">Pr&aacute;cticas</a></li>
                                <li class="nav-item"> <a class="nav-link"
                                        href="{% url 'monitoreoherramientas' %}">Herramientas</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card ">
                                <div class="card-body">
                                    <h2>Despliegue</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Descripción</h5>
                                    <p>
                                        Las prácticas en DevOps se consideran capacidades empresariales según (Forsgren
                                        et al., 2018) y son un reflejo de la idea de automatización y mejora continuas,
                                        y muchas de ellas se centran en una o en varias fases del ciclo de vida DevOps
                                        (NetApp, 2023).
                                        <br>
                                        <br>
                                        (Amaro et al., 2023) expresa que el uso de los términos prácticas y capacidades
                                        va a depender del contexto y la perspectiva, la capacidad es la habilidad para
                                        hacer algo, acumuladas o desarrolladas por sus miembros a lo largo del tiempo y
                                        la práctica es la acción realizada, tiene el enfoque práctico.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">                                    
                                        <img style="width: min-content; height: min-content;" src="{% static 'images/despliegue-practicas.jpg' %}" alt="cod_practicas">
                                        <span
                                            class="text-muted text-center text-sm-left d-block d-sm-inline-block">Adaptaci&oacute;n
                                            propia</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="negrita">Pr&aacute;cticas de la Actividad</h4>
                                    <p>En la literatura se encontraron un compendio de prácticas relacionada al ámbito
                                        DevOps. Como se puede apreciar existen muchas prácticas o capacidades y
                                        est&aacute;n
                                        categorizadas como: técnicas, culturales, de medición, de beneficios de
                                        negocio (Kim et al., 2016).
                                        A continuaci&oacute;n, se se mostrar&aacute;n algunas de ellas:</p>
                                    <div class="table-responsive col-lg-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Pr&aacute;cticas
                                                    </th>
                                                    <th>
                                                        Referencias
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Colaboraci&oacute;n</td>
                                                    <td class="text-wrap">
                                                        (Dynatrace, 2021; Luz et al., 2018; Mohan et al., 2018; Qumer
                                                        Gill
                                                        et al., 2018; Amaro et al., 2023)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Comunicaci&oacute;n</td>
                                                    <td class="text-wrap">
                                                        (Dynatrace, 2021; Mohan et al., 2018; Qumer Gill et al., 2018;
                                                        Amaro
                                                        et al., 2023)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Automatizaci&oacute;n</td>
                                                    <td class="text-wrap">
                                                        (Luz et al., 2018; Mohan et al., 2018; Amaro et al., 2023)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Entrega continua</td>
                                                    <td class="text-wrap">
                                                        (Da Silva et al., 2022; Dynatrace, 2021; Ferry et al., 2019;
                                                        Fitzgerald & Stol, 2017; Ivanov & Smolander, 2018; Lenhard,
                                                        2017;
                                                        Mascheroni & Irrazábal, 2018; Qumer Gill et al., 2018; Sharma &
                                                        Coyne, 2015; Amaro et al., 2023)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Despliegue continuo</td>
                                                    <td class="text-wrap">
                                                        (Da Silva et al., 2022; Ferry et al., 2019;
                                                        Fitzgerald & Stol, 2017; Ivanov & Smolander, 2018; Luz et al.,
                                                        2018;
                                                        Mascheroni & Irrazábal, 2018; Meng et al., 2017, 2017; Qumer
                                                        Gill et
                                                        al., 2018; Rocha et al., 2023, 2023; Rodriguez et al., 2020;
                                                        Amaro
                                                        et al., 2023)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Infraestructura como c&oacute;digo</td>
                                                    <td class="text-wrap">
                                                        (Ivanov & Smolander, 2018; Jennings &
                                                        Gannod, 2019; Luz et al., 2018; Sharma & Coyne, 2015; Siebra et
                                                        al.,
                                                        2019; Tonello, 2022a; Waseem et al., 2020; Wurster et al., 2020;
                                                        Zhao et al., 2017)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Contenedorizaci&oacute;n</td>
                                                    <td class="text-wrap">
                                                        (Ferry et al., 2019; Jennings & Gannod, 2019;
                                                        Rodriguez et al., 2020; Siebra et al., 2019; Tonello, 2022a;
                                                        Amaro
                                                        et al., 2023)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Orquestaci&oacute;n de contenedores</td>
                                                    <td class="text-wrap">
                                                        (Rocha et al., 2023; Wurster et al., 2020)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Gesti&oacute;n de artefactos</td>
                                                    <td class="text-wrap">
                                                        (Akman et al., 2018; Sharma & Coyne, 2015; Amaro et al., 2023)
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="negrita">Descripci&oacute;n de las pr&aacute;cticas</h4>
                                    <nav class="navbar-dropdown">
                                        <ul>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-c"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Colaboraci&oacute;n <i
                                                            class="fa fa-eye mx-0"></i></h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-c">
                                                    <p>
                                                        La cultura colaborativa es fundamental para la adopción exitosa
                                                        de DevOps. Se enfoca en eliminar los silos entre los equipos de
                                                        desarrollo y operaciones, integrando tareas de operaciones como
                                                        parte del desarrollo diario. Esto promueve que las
                                                        implementaciones, gestión de infraestructuras y monitoreo sean
                                                        realizadas fluidamente por los equipos de desarrollo.
                                                        <br>
                                                        Sin DevOps, es común que el desarrollo de software avance
                                                        rápidamente sin considerar las operaciones, lo que lleva a
                                                        retrasos y conflictos cuando los equipos de operaciones reciben
                                                        un producto mínimo viable sin el contexto adecuado. Fomentar una
                                                        cultura colaborativa desde el inicio del desarrollo reduce estos
                                                        problemas, ya que todos los equipos trabajan juntos desde el
                                                        principio, haciendo que la entrega de software sea más ágil y
                                                        eficiente.
                                                        <br>
                                                        Además, esta cultura empodera a los desarrolladores al eliminar
                                                        la necesidad de esperar por el equipo de operaciones para tareas
                                                        como la creación de servidores o la ejecución de scripts. Todos
                                                        en el equipo deben estar capacitados para realizar estas tareas,
                                                        lo que aumenta la eficiencia y refuerza la responsabilidad
                                                        compartida.
                                                        <br>
                                                        Otra característica clave es el pensamiento de producto, donde
                                                        tanto desarrollo como operaciones ven el software como un
                                                        producto continuo.
                                                        <br>
                                                        Debe existir una responsabilidad compartida sin
                                                        culpas para resolver problemas en producción, evitando la
                                                        estrategia de eludir responsabilidades y enfocándose en la
                                                        resolución conjunta de problemas. Este enfoque fortalece la
                                                        colaboración y es esencial para la adopción efectiva de DevOps.
                                                        <br>
                                                        Entonces, la cultura colaborativa no solo es el pilar central
                                                        de DevOps, sino también el aspecto más desafiante de implementar
                                                        correctamente. Sin una cultura sólida, los esfuerzos de DevOps
                                                        pueden quedar reducidos a simples automatizaciones sin lograr
                                                        sus beneficios completos.
                                                        <br>
                                                        (Luz et al., 2018)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-com"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Comunicaci&oacute;n <i
                                                            class="fa fa-eye mx-0"></i></h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-com">
                                                    <p>
                                                        Como parte de la cultura colaborativa, la comunicación es un
                                                        aspecto fundamental de DevOps, ya que
                                                        permite a los equipos de desarrollo y operaciones trabajar
                                                        juntos de manera efectiva.
                                                        <br>
                                                        Los equipos deben comunicarse directamente,
                                                        evitando sistemas de tickets que ralentizan la interacción, y
                                                        utilizando herramientas como Slack para facilitar la
                                                        comunicación.
                                                        <br>
                                                        (Luz et al., 2018)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-aut"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Automatizaci&oacute;n <i
                                                            class="fa fa-eye mx-0"></i></h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-aut">
                                                    <p>
                                                        La automatización es un elemento fundamental en la estrategia
                                                        DevOps de cualquier empresa. En esencia, la automatización
                                                        minimiza el trabajo manual, acelera los procesos de entrega a lo
                                                        largo de todo el ciclo de vida del desarrollo de software (SDLC)
                                                        y facilita la escalabilidad de las prácticas DevOps.
                                                        <br>
                                                        Históricamente, procesos como pruebas, monitoreo, identificación
                                                        y corrección de errores incluían algo de automatización, pero
                                                        dependían en gran medida de la intervención manual. Este enfoque
                                                        funcionaba bien para equipos pequeños que manejaban aplicaciones
                                                        monolíticas. Sin embargo, con la llegada de aplicaciones
                                                        modernas basadas en microservicios y la presión adicional que la
                                                        transformación digital impone sobre TI, la automatización se
                                                        vuelve esencial. Esta permite mantener la velocidad y calidad
                                                        mediante procesos consistentes en cada etapa del ciclo de vida
                                                        DevOps, lo que facilita el envío frecuente de código a
                                                        producción y garantiza la creación de software consistente,
                                                        confiable y seguro, liberando tiempo valioso para que los
                                                        equipos de DevOps se concentren en la innovación.
                                                        <br>
                                                        (Dynatrace, 2021)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-ec"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Entrega continua <i
                                                            class="fa fa-eye mx-0"></i></h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-ec">
                                                    <p>
                                                        Es una práctica de desarrollo en el que el software se mantiene
                                                        en un estado listo para su implementación a lo largo de su ciclo
                                                        de vida, desde el desarrollo hasta la producción. Implica la
                                                        automatización del despliegue de modificaciones en el código
                                                        hacia un entorno de preproducción o de almacenamiento temporal
                                                        después de la fase de pruebas. El equipo da prioridad a mantener
                                                        el software en este estado antes que centrarse en nuevas
                                                        funciones. Todos los miembros del equipo proporcionan
                                                        rápidamente retroalimentación sobre la calidad y la capacidad de
                                                        implementación del sistema, y en caso de recibir informes de que
                                                        el sistema no es implementable, se realizan correcciones de
                                                        manera inmediata. En última instancia, el sistema puede
                                                        implementarse en producción o ante usuarios finales en cualquier
                                                        momento, según la demanda. (Forsgren et al., 2018;
                                                        Sharma & Coyne, 2015)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-cd"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Despliegue continuo <i
                                                            class="fa fa-eye mx-0"></i>
                                                    </h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-cd">
                                                    <p>
                                                        Se refiere a la automatización del proceso de despliegue. La
                                                        automatización del despliegue se refiere al nivel en el que las
                                                        implementaciones son completamente automatizadas y no necesitan
                                                        intervención manual. (Forsgren et al., 2018)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-iac"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Infraestructura como c&oacute;digo <i
                                                            class="fa fa-eye mx-0"></i></h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-iac">
                                                    <p>
                                                        La infraestructura como código es una capacidad fundamental de
                                                        DevOps que posibilita a las organizaciones gestionar la escala y
                                                        velocidad de aprovisionamiento y configuración de los entornos
                                                        para facilitar la entrega continua. Una evolución en este
                                                        concepto es la noción de entornos definidos por software.
                                                        Mientras que la infraestructura como código se centra en
                                                        capturar definiciones y configuraciones de nodos como código,
                                                        los entornos definidos por software emplean tecnologías que
                                                        definen sistemas completos compuestos por múltiples nodos,
                                                        abarcando no solo sus configuraciones, sino también sus
                                                        definiciones, topologías, roles, relaciones, cargas de trabajo y
                                                        políticas, así como su comportamiento. (Sharma & Coyne,
                                                        2015)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-cont"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Contenedorizaci&oacute;n <i
                                                            class="fa fa-eye mx-0"></i>
                                                    </h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-cont">
                                                    <p>
                                                        Los contenedores tienen como objetivo empaquetar una aplicación
                                                        junto con sus dependencias y configuraciones en una sola unidad
                                                        desplegable. La contenedorización también se refiere al proceso
                                                        de automatización del aprovisionamiento de contenedores, que es
                                                        el entorno donde se ejecutarán estos servicios autónomos.
                                                        (Jennings & Gannod, 2019; Luz et al., 2018)
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-ocont"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Orquestaci&oacute;n de contenedores <i
                                                            class="fa fa-eye mx-0"></i>
                                                    </h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-ocont">
                                                    <p>
                                                        Según (OVHcloud, 2023) es el proceso de automatización de la
                                                        gestión, el despliegue, la asignación de niveles, la creación de
                                                        redes y la disponibilidad de los contenedores, es decir,
                                                        automatiza las tareas operativas vinculadas con la
                                                        implementación y ejecución de aplicaciones y servicios en
                                                        contenedores. De acuerdo con una investigación reciente de IBM,
                                                        el 70% de los desarrolladores que usan contenedores afirman que
                                                        emplean una solución de orquestación de contenedores, y de esos,
                                                        el 70% indican que utilizan un servicio de orquestación de
                                                        contenedores completamente gestionado en la nube dentro de su
                                                        organización (IBM, 2024).
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="nav-item" style="list-style: none;">
                                                <a class="nav-link" data-toggle="collapse" href="#ui-ga"
                                                    aria-expanded="false" aria-controls="ui-basic">
                                                    <h4 class="menu-title">Gesti&oacute;n de artefactos <i
                                                            class="fa fa-eye mx-0"></i>
                                                    </h4>
                                                    <i class="menu-arrow"></i>
                                                </a>
                                                <div class="collapse" id="ui-ga">
                                                    <p>
                                                        Los artefactos son aquellos elementos tangibles que son
                                                        producidos durante la creación de un proyecto (Universidad
                                                        Tecmilenio, 2020).
                                                        <br>
                                                        Los artefactos de DevOps son referenciados en una etapa del
                                                        pipeline para el despliegue automatizado en el entorno de
                                                        destino y se utilizan para especificar las versiones de los
                                                        paquetes de software a desplegar. Estos artefactos pueden
                                                        incluir una imagen de contenedor, un artefacto genérico, un
                                                        gráfico de Helm, o definiciones en línea, y su origen varía
                                                        según el tipo de artefacto. En DevOps, se pueden crear
                                                        referencias a los siguientes tipos de artefactos (Oracle, 2024):
                                                    <ul>
                                                        <li>Repositorio de imágenes de contenedor: Se refiere a las
                                                            imágenes de Docker.</li>
                                                        <li>Configuración de despliegue del grupo de instancias: Se
                                                            refiere a un archivo en formato YAML que se utiliza para
                                                            gestionar el despliegue del grupo de instancias, definiendo
                                                            los
                                                            artefactos a descargar y su ubicación en la instancia.</li>
                                                        <li>Manual de Kubernetes.</li>
                                                        <li>Artefacto general: Se refiere a cualquier paquete de
                                                            software
                                                            genérico que se vaya a desplegar.</li>
                                                        <li>Gráfico de Helm: Se refiere a los gráficos de Helm.</li>
                                                        <li>Especificación de comando de Helm: Se refiere a un conjunto
                                                            de
                                                            comandos de Helm que se ejecutan directamente durante el
                                                            despliegue.</li>
                                                        <li>Especificación de comando: Se refiere a un conjunto de
                                                            comandos y pasos personalizados que se ejecutan en un
                                                            pipeline
                                                            de despliegue.</li>
                                                    </ul>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. 
                        All rights reserved.</span>
                      <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
                        href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
                    </div>            
                  </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'js/dataTables.select.min.js' %}"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>
    <!-- End custom js for this page-->
</body>

</html>