{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Liberaci&oacute;n - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-plan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-plan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-codif" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-codif">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-const" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-const">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'construcciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-prueb" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-prueb">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-lib" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-lib">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-desp" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-desp">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguetareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguepracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'despliegueherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-op" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-op">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionestareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionesherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-mon" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-mon">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreotareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreopracticas' %}">Pr&aacute;cticas</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreoherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Liberaci&oacute;n</h2>

                </div>
              </div>
            </div>

            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <h2>Herramientas</h2>
                </div>
              </div>
            </div>


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripción de la Actividad</h4>
                  <p>
                    En esta actividad se automatiza los pasos anteriores encadenando varias
                    prácticas que permite a partir de los cambios registrados en la codificación
                    iniciar la construcción, pruebas y crear así un entregable listo para ser puesto
                    en un servidor. (Perera et al., 2017).
                    <br>
                    <br>
                    (Sousa et al., 2019) indica que la liberación intenta poner el software a
                    disposición en un entorno sea de preproducción o producción mediante un conjunto
                    de instrucciones que pueden llegar a automatizar los pasos anteriores.
                    <br>
                    <br>
                    Tiene como objetivo indicar que la versión del software está probada. Además de
                    ejecutar el software y revisar su comportamiento en un entorno parecido al de
                    producción. También busca realizar pruebas que comprueben el rendimiento del
                    software (Badshah et al., 2020).
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>En la Liberación, se manejan herramientas avanzadas de Integración Continua (CI) para automatizar y
                    optimizar el ciclo de desarrollo e integración y para la gestión de artefactos que se van creando. A
                    continuaci&oacute;n se describen: </p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ci" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Integraci&oacute;n Continua (CI) <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-ci">
                          <p>
                            Es una práctica desarrollada como parte de la metodología de Programación Extrema de Beck.
                            En la integración continua, los equipos de software integran sus cambios con frecuencia. Se
                            utilizan compilaciones y pruebas automatizadas para encontrar rápidamente errores
                            introducidos como parte de este proceso.
                            <br>
                            Existen herramientas variadas para la integración continua pueden monitorear un repositorio
                            de origen y escuchar eventos de cambio. Cuando se
                            recibe uno, puede extraer la versión actual del código del repositorio y ejecutar un proceso
                            de compilación y prueba configurado, informando los resultados al responsable del
                            mantenimiento del sistema. (Hills, 2020)
                            <br>
                            Algunas de las características comunes y valiosas de estas herramientas son:
                          <ul>
                            <li>Automatización de Builds y Tests: Las herramientas de CI automatizan la construcción del
                              código y las pruebas, garantizando que cada nuevo commit pase por un proceso riguroso
                              antes de ser integrado al proyecto principal. Esto ayuda a identificar y corregir errores
                              en una etapa temprana del desarrollo.</li>
                            <li>Soporte para Pipelines de CI/CD: Muchas herramientas de CI ofrecen pipelines completos
                              que no solo integran el código, sino que también lo despliegan automáticamente. Esto
                              reduce la intervención manual y acelera el tiempo de entrega de nuevas funcionalidades​.
                            </li>
                            <li>Notificaciones y Feedback Rápido: Estas herramientas proporcionan retroalimentación
                              inmediata a los desarrolladores cuando algo sale mal, permitiendo una corrección rápida
                              sin interrumpir el flujo de trabajo.
                            </li>
                            <li>Integración con Varios Servicios y Plataformas: La mayoría de las herramientas de CI se
                              integran fácilmente con sistemas de control de versiones (como Git), herramientas de
                              despliegue y otros servicios en la nube, lo que las hace flexibles y escalables para
                              diferentes necesidades de desarrollo​.</li>
                          </ul>
                          (Stephen Roddewig, 2023; Tasnim, 2023)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ga" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Gesti&oacute;n de artefactos <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-ga">
                          <p>
                            Los artefactos son aquellos elementos tangibles que son producidos durante la creación de un
                            proyecto (Universidad Tecmilenio, 2020).
                            <br>
                            Los artefactos de DevOps son referenciados en una etapa del pipeline para el despliegue
                            automatizado en el entorno de destino y se utilizan para especificar las versiones de los
                            paquetes de software a desplegar. Estos artefactos pueden incluir una imagen de contenedor,
                            un artefacto genérico, un gráfico de Helm, o definiciones en línea, y su origen varía según
                            el tipo de artefacto. En DevOps, se pueden crear referencias a los siguientes tipos de
                            artefactos (Oracle, 2024):
                          <ul>
                            <li>Repositorio de imágenes de contenedor: Se refiere a las imágenes de Docker.</li>
                            <li>Configuración de despliegue del grupo de instancias: Se refiere a un archivo en formato
                              YAML que se utiliza para gestionar el despliegue del grupo de instancias, definiendo los
                              artefactos a descargar y su ubicación en la instancia.</li>
                            <li>Manual de Kubernetes.</li>
                            <li>Artefacto general: Se refiere a cualquier paquete de software genérico que se vaya a
                              desplegar.</li>
                            <li>Gráfico de Helm: Se refiere a los gráficos de Helm.</li>
                            <li>Especificación de comando de Helm: Se refiere a un conjunto de comandos de Helm que se
                              ejecutan directamente durante el despliegue.</li>
                            <li>Especificación de comando: Se refiere a un conjunto de comandos y pasos personalizados
                              que se ejecutan en un pipeline de despliegue.</li>
                          </ul>
                          Las herramientas para ello según (JFrog, 2024) funcionan como un centro centralizado para
                          DevOps, integrándose con herramientas y procesos para mejorar la automatización, aumentar la
                          integridad e incorporar las mejores prácticas en cada etapa. Desde una perspectiva
                          arquitectónica, es un gran facilitador de eficiencia. Contar con la capacidad de almacenar
                          esto en un repositorio centralizado y bien gestionado, al que todos puedan acceder bajo
                          ciertos controles, y que incluya medidas de seguridad y etiquetado, es esencial para que sea
                          lo más ágil y rápido posible.
                          <br>
                          A continuación, se describen algunas de estas características generales:
                          <ul>
                            <li>Almacenamiento Centralizado y Gestión de Versiones: Estas herramientas ofrecen un
                              repositorio centralizado para almacenar y gestionar diferentes versiones de artefactos,
                              como
                              binarios, librerías, y contenedores. Esto asegura que todos los desarrolladores accedan a
                              los
                              mismos artefactos, reduciendo la duplicación y garantizando la consistencia en los
                              entornos de
                              desarrollo, prueba y producción.</li>
                            <li>Soporte para Múltiples Formatos de Paquetes: Las herramientas de gestión de artefactos
                              soportan una amplia gama de formatos de paquetes (como Maven, npm, Docker, y NuGet), lo
                              que
                              las hace versátiles para diferentes tipos de proyectos. Esto permite a los equipos manejar
                              artefactos de manera uniforme, independientemente del lenguaje de programación o
                              plataforma
                              utilizados.</li>
                            <li>Integración con Pipelines CI/CD: Estas herramientas están diseñadas para integrarse de
                              forma
                              fluida con pipelines de Integración Continua/Despliegue Continuo (CI/CD). Esto permite la
                              automatización del flujo de trabajo desde la construcción hasta la implementación,
                              asegurando
                              que los artefactos correctos se utilicen en cada etapa del proceso.</li>
                            <li>Seguridad y Control de Acceso: Proporcionan controles de seguridad avanzados para
                              proteger
                              los artefactos, incluyendo el escaneo de vulnerabilidades y la gestión de permisos. Esto
                              es
                              esencial para prevenir la introducción de componentes inseguros en el pipeline de software
                              y
                              para cumplir con las normativas de seguridad.</li>
                            <li>Escalabilidad y Distribución Global: Estas herramientas están diseñadas para ser
                              escalables,
                              permitiendo la gestión de grandes volúmenes de artefactos en proyectos de cualquier
                              tamaño.
                              Algunas también ofrecen capacidades de replicación y distribución global, asegurando que
                              los
                              artefactos estén disponibles en múltiples ubicaciones geográficas para equipos
                              distribuidos.</li>
                          </ul>
                          (JFrog, 2019; Mirren McDade & Laura Lannini, 2024; Plutora, 2023)
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la
                    Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td>
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Reporte</h4>

                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">                              
                              <div class="col-lg-12 stretch-card">
                                <h2 class="col-lg-8 text-primary">{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 class="col-lg-4 text-primary">{{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p class="mb-2 mb-xl-0">El total de categor&iacute;as de herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. 
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
              href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>            
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}") + "%";

</script>

</html>