{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Monitoreo - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-plan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-plan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-codif" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-codif">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-const" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-const">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'construcciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-prueb" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-prueb">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-lib" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-lib">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-desp" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-desp">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguetareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguepracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'despliegueherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-op" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-op">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionestareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionesherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-mon" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-mon">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreotareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreopracticas' %}">Pr&aacute;cticas</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreoherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Monitoreo</h2>

                </div>
              </div>
            </div>

            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <h2>Herramientas</h2>
                </div>
              </div>
            </div>


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripción de la Actividad</h4>
                  <p>
                    Esta actividad provee a través de varias prácticas la generación de métricas que
                    permiten estar
                    pendiente del comportamiento y las variaciones que tengan tanto los aplicativos
                    como la infraestructura, con el ánimo de fomentar la mejora continua (Perera et
                    al., 2017).
                    <br>
                    <br>
                    El monitoreo cumple un papel crucial en la mejora continua según (Sousa et al.,
                    2019), debido a tiene como propósito recopilar datos de las métricas
                    establecidas permitiendo realizar ajustes necesarios para la mejora tanto
                    organizacional como de infraestructura y conocer el estado del producto en
                    producción en cada momento.
                    <br>
                    <br>
                    Tiene como objetivo identificar problemas de operatividad, optimizar el
                    rendimiento, analizar los datos recopilados y tomar decisiones para la mejora
                    continua de los servicios/software (Badshah et al., 2020).
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>En el Monitoreo se identifica y recopila información sobre problemas que surgen en una versión de
                    software específica que se encuentra en producción, por lo que se usan herramientas que cumplen
                    estas acciones. A continuación, se describen las categor&iacute;as:</p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-gl" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Geti&oacute;n de Registros (Logs) <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-gl">
                          <p>
                            El registro en el desarrollo de software es vital para la depuración, mantenimiento y
                            operación de aplicaciones. Los registros actúan como pistas creadas por desarrolladores que
                            ayudan a identificar las causas de errores y otros comportamientos anómalos. Estos registros
                            facilitan la comunicación entre desarrolladores y operadores, especialmente en entornos
                            DevOps, donde el aumento de implementaciones ha incrementado los requisitos de registro.
                            Herramientas habilitadas por IA, conocidas como AIOps, se utilizan para automatizar y
                            mejorar el análisis de registros, permitiendo una mejor gestión de los datos generados a
                            gran escala, que son esenciales para el diagnóstico y cumplimiento legal. (Bogatinovski &
                            Kao, 2023; Yao et al., 2022)
                            <br>
                            Los archivos de registro han sido tradicionalmente utilizados para identificar fallos y
                            analizar las causas raíz. Sin embargo, en los últimos años, nuevas aplicaciones han surgido,
                            aprovechando el análisis automatizado de estos registros. Ejemplos de estas aplicaciones
                            incluyen: (Korzeniowski & Goczyła, 2022; Yu et al., 2024)
                          <ul>
                            <li>la monitorización en tiempo real del estado del sistema, </li>
                            <li>la comprensión del comportamiento de los usuarios y</li>
                            <li>la extracción de conocimiento especializado del dominio.</li>
                          </ul>
                          (Korzeniowski & Goczyła, 2022) en su estudio sintetizaron los distintos tipos de registros
                          utilizados en la literatura en las siguientes clases:
                          <ul>
                            <li>Registro de acceso: registro del servidor que registra las solicitudes HTTP.</li>
                            <li>Registro de CD: registro de herramientas de ingeniería continua (integración
                              continua/implementación continua).</li>
                            <li>Registro de eventos: registro de eventos comerciales, utilizado por técnicas de minería
                              de
                              procesos.</li>
                            <li>Genérico: el formato de registro se detecta automáticamente utilizando técnicas de
                              análisis de registros de propósito general que se pueden utilizar en múltiples áreas,
                              mayormente relacionados con la detección de anomalías, que es un concepto abstracto y
                              genérico.</li>
                            <li>Registro de red: registro de un dispositivo o servicio de red (p. ej., SSH, proxy,
                              firewall).</li>
                            <li>Registro de plataforma: registro de una plataforma de software específica (p. ej.,
                              Spark,
                              Hadoop, Android).</li>
                            <li>Propietario: registro de un sistema de software particular, en un formato personalizado
                              que no se puede clasificar en otras clases.</li>
                            <li>Registro de consultas: registro de consultas SQL ejecutadas por un sistema.</li>
                            <li>Registro de motor de búsqueda: registro de un motor de búsqueda que consiste en
                              consultas
                              de búsqueda ingresadas por un usuario.</li>
                          </ul>
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-mr" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Monitoreo de redes <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-mr">
                          <p>
                            El monitoreo de redes es esencial ya que se enfoca en supervisar continuamente una red para
                            detectar problemas de rendimiento, fallas, y seguridad. Permite identificar y resolver
                            problemas de conectividad, latencia, o fallas en los dispositivos antes de que afecten a los
                            usuarios finales en tiempo real. Esto ayuda a garantizar que todos los componentes operen
                            dentro de los parámetros esperados, evitando cuellos de botella y degradación del servicio.
                            También es clave para detectar actividades sospechosas o no autorizadas, como intentos de
                            intrusión o ataques de denegación de servicio (DDoS).
                            <br>
                            Los dispositivos monitoreados incluyen routers, switches, firewalls, servidores, y cualquier
                            otro equipo que compone la red. Varias herramientas permiten visualizar y analizar el estado
                            de estos dispositivos.
                            <br>
                            Existen protocolos como SNMP (Simple Network Management Protocol) y NetFlow se utilizan para
                            recopilar datos sobre el tráfico de la red, el estado de los dispositivos, y el rendimiento
                            general.
                            <br>
                            Los sistemas de monitoreo están configurados para enviar alertas cuando se detectan
                            problemas o anomalías. Estas alertas pueden ser en forma de correos electrónicos, mensajes
                            de texto o notificaciones dentro de una plataforma de gestión.
                            <br>
                            Aplicar esto beneficia en gran medida en varios aspectos:
                          <ul>
                            <li>Reducción de Tiempos de Inactividad: Identificar problemas proactivamente permite a los
                              equipos de TI resolverlos antes de que causen interrupciones significativas.</li>
                            <li>Optimización de Recursos: Monitorear el uso de la red ayuda a gestionar eficientemente
                              los recursos y planificar futuras expansiones o mejoras.</li>
                            <li>Cumplimiento y Auditoría: Mantener registros detallados del rendimiento de la red y las
                              actividades de monitoreo es crucial para cumplir con normativas de seguridad y auditorías
                              internas.</li>
                          </ul>
                          (Cisco, 2023; SolarWinds, 2024)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ad" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">An&aacute;lisis de datos <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-ad">
                          <p>
                            El análisis de datos realizado por herramientas de monitoreo se centra en la recopilación,
                            procesamiento, y visualización de datos de sistemas, aplicaciones y redes para optimizar el
                            rendimiento, detectar problemas, y mejorar la seguridad.
                            <br>
                            A continuación, se describen las funciones clave de análisis de datos que pueden ofrecer las
                            herramientas:
                          <ul>
                            <li>Predicción de Problemas: Utilizan datos históricos y modelos de aprendizaje automático
                              para predecir fallas potenciales y optimizar procesos basados en patrones detectados.</li>
                            <li>Centralización y Análisis de Datos: Permiten la centralización de datos de registro con
                              búsquedas avanzadas y dashboards personalizados para facilitar el análisis.</li>
                            <li>Detección de Anomalías: Emplean algoritmos para identificar comportamientos inusuales y
                              detectar problemas de rendimiento o seguridad.</li>
                            <li>Métricas en Tiempo Real: Proporcionan análisis detallados del rendimiento de
                              aplicaciones,
                              incluyendo tiempos de respuesta y transacciones, y permiten acceder a métricas en tiempo
                              real para mejorar la toma de decisiones.</li>
                            <li>Análisis de Infraestructura: Ofrecen un monitoreo exhaustivo de la infraestructura de
                              TI,
                              conectando eventos y métricas a través de sistemas y automatizando respuestas a problemas
                              detectados.</li>
                            <li>Seguridad y Procesamiento de Logs: Proporcionan capacidades avanzadas para la ingesta y
                              análisis de logs, cruciales para la detección de amenazas en tiempo real en entornos de
                              seguridad.</li>
                          </ul>
                          (Datadog, 2024; ELK Stack, 2024; Farah, 2022; Fernandez, 2022; Guia TIC, 2022; ManageEngine
                          OpManager, 2024; ToBeIT, 2023; Westcon Comstor, 2024)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ma" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Monitoreo de aplicaciones <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-ma">
                          <p>
                            El monitoreo de aplicaciones se refiere al proceso de supervisar y analizar el rendimiento,
                            disponibilidad y comportamiento de aplicaciones software en tiempo real. Este tipo de
                            monitoreo es crucial para garantizar que las aplicaciones funcionen de manera eficiente, sin
                            interrupciones, y que ofrezcan una buena experiencia de usuario.
                            <br>
                            <br>
                            (Gartner, 2023) lo define como: <span class="cursiva">“El monitoreo del rendimiento de
                              aplicaciones es un conjunto
                              de software de monitoreo que incluye monitoreo de experiencia digital (DEM),
                              descubrimiento,
                              rastreo y diagnóstico de aplicaciones e inteligencia artificial diseñada específicamente
                              para operaciones de TI”</span>.
                            <br>
                            Aquí se destacan los aspectos principales del monitoreo de aplicaciones y lo que hacen las
                            herramientas:
                          <ul>
                            <li>Rendimiento de la Aplicación
                              <ul>
                                <li>Mide cuánto tiempo tarda una aplicación en responder a las solicitudes de los
                                  usuarios, lo
                                  que es crítico para evaluar la experiencia del usuario final.</li>
                                <li>Monitorea el número de transacciones procesadas por la aplicación en un período de
                                  tiempo,
                                  lo que ayuda a identificar cuellos de botella.</li>
                                <li>Supervisa el uso de CPU, memoria, y otros recursos del sistema por parte de la
                                  aplicación,
                                  para evitar sobrecargas que puedan afectar su rendimiento.</li>
                              </ul>
                            </li>
                            <li>Disponibilidad
                              <ul>
                                <li>Evalúa cuánto tiempo la aplicación está disponible para los usuarios sin
                                  interrupciones,
                                  un indicador clave de su confiabilidad.</li>
                                <li>Controla que todos los servicios y componentes que forman parte de la aplicación
                                  estén
                                  funcionando correctamente.</li>
                              </ul>
                            </li>
                            <li>Monitoreo de Errores y Fallos
                              <ul>
                                <li>Captura y analiza los errores que ocurren dentro de la aplicación, ayudando a los
                                  desarrolladores a identificar y corregir problemas rápidamente.</li>
                                <li>Configuración de alertas en tiempo real para notificar a los equipos cuando ocurren
                                  fallos
                                  críticos en la aplicación.</li>
                              </ul>
                            </li>
                            <li>Experiencia del Usuario Final
                              <ul>
                                <li>Monitorea cómo interactúan los usuarios con la aplicación, lo que ayuda a
                                  identificar
                                  posibles problemas de usabilidad o rendimiento.</li>
                                <li>Pruebas automatizadas que simulan la experiencia del usuario final para detectar
                                  problemas
                                  antes de que afecten a los usuarios reales.</li>
                              </ul>
                            </li>
                            <li>Monitoreo de Transacciones
                              <ul>
                                <li>Monitorea el flujo de transacciones complejas a través de múltiples servicios o
                                  componentes para asegurar que se completen correctamente.</li>
                                <li>Herramientas como el tracing permiten seguir el recorrido de una solicitud a través
                                  de
                                  diferentes partes de la aplicación, identificando cuellos de botella o fallos.</li>
                              </ul>
                            </li>
                            <li>Monitoreo de Seguridad
                              <ul>
                                <li>Identifica comportamientos anómalos que podrían indicar intentos de intrusión o
                                  abuso.</li>
                                <li>Registra actividades dentro de la aplicación para asegurar el cumplimiento de
                                  normativas y
                                  políticas de seguridad.</li>
                              </ul>
                            </li>
                            <li>Logs y Eventos
                              <ul>
                                <li>Recopila y analiza los registros generados por la aplicación para identificar
                                  patrones de
                                  comportamiento y resolver problemas.</li>
                                <li>Combina información de diferentes eventos para proporcionar una visión integral de
                                  cómo se
                                  comporta la aplicación en diferentes circunstancias.</li>
                              </ul>
                            </li>
                          </ul>
                          (Livens, 2024; New Relic & Yoram Mireles, 2021)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ux" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Monitoreo de Experiencia de usuario <i class="fa fa-eye mx-0"></i>
                          </h4>
                        </a>
                        <div class="collapse" id="ui-ux">
                          <p>
                            El monitoreo de la Experiencia de Usuario es el proceso de supervisar y analizar cómo los
                            usuarios interactúan con un producto, servicio o aplicación, con el objetivo de comprender y
                            mejorar su experiencia general.
                            <br>
                            Este tipo de monitoreo se enfoca en recopilar datos relacionados con el comportamiento de
                            los usuarios, el rendimiento de las aplicaciones y la satisfacción del cliente. Los datos
                            recolectados permiten a las organizaciones identificar problemas, optimizar la usabilidad, y
                            mejorar la satisfacción del usuario final.
                            <br>
                            Es de gran importancia porque:
                            <ul>
                              <li>Permite a las empresas realizar mejoras iterativas basadas en datos reales, asegurando que
                                la experiencia del usuario esté en constante evolución.</li>
                              <li>Al abordar problemas que causan frustración o abandono, las empresas pueden aumentar la
                                satisfacción del cliente y mejorar la retención.</li>
                              <li>Proporciona información crítica para la toma de decisiones sobre el desarrollo y
                                actualización de productos.</li>
                            </ul>                            
                            A continuación, se describen las funciones clave de UXM que pueden ofrecer las herramientas:
                            <ul>
                              <li>Seguimiento de Interacciones: Captura cómo los usuarios navegan por una aplicación o sitio
                                web, qué elementos interactivos utilizan, y en qué puntos pueden estar experimentando
                                dificultades o abandonando la aplicación.</li>
                              <li>Métricas de Rendimiento: Evalúa el tiempo de carga de las páginas, la velocidad de
                                respuesta, y otros indicadores técnicos que afectan la experiencia del usuario.</li>
                              <li>Encuestas de Satisfacción: Permite recolectar opiniones directas de los usuarios sobre su
                                experiencia, identificando áreas de mejora desde la perspectiva del cliente.</li>
                              <li>Análisis de Comportamiento: Incluye el uso de mapas de calor, grabaciones de sesiones, y
                                pruebas A/B para entender cómo los cambios en el diseño o funcionalidad impactan la
                                interacción del usuario.</li>
                            </ul>
                            (Dynatrace, 2019; Hawes, 2023)
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la
                    Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td>
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Reporte</h4>

                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">                              
                              <div class="col-lg-12 stretch-card">
                                <h2 class="col-lg-8 text-primary">{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 class="col-lg-4 text-primary">{{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p class="mb-2 mb-xl-0">El total de categor&iacute;as de herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. 
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
              href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>            
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}") + "%";

</script>

</html>