{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Operaciones - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'planificacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'codificacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'construccion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pruebas' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'liberacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'despliegue' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="background: #4B49AC; color: white;" href="{% url 'operaciones' %}" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionestareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionesherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'monitoreo' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'referencias' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Referencias</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Herramientas</h2>
                </div>
              </div>
            </div>

            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Operaciones</h2>
                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>En Operaciones se emplean herramientas que gestionan el software durante su producción y la
                    infraestructura de TI subyacente. </p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-ce" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Orquestaci&oacute;n de Contenedores <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-ce">
                          <p>
                            Según (OVHcloud, 2023) es el proceso de automatización de la gestión, el despliegue, la
                            asignación de niveles, la creación de redes y la disponibilidad de los contenedores, es
                            decir, automatiza las tareas operativas vinculadas con la implementación y ejecución de
                            aplicaciones y servicios en contenedores. De acuerdo con una investigación reciente de IBM,
                            el 70% de los desarrolladores que usan contenedores afirman que emplean una solución de
                            orquestación de contenedores, y de esos, el 70% indican que utilizan un servicio de
                            orquestación de contenedores completamente gestionado en la nube dentro de su organización
                            (IBM, 2024).
                            <br>
                            Una vez que los contenedores están implementados, la herramienta de orquestación gestiona el
                            ciclo de vida de la aplicación en contenedores de acuerdo con el archivo de definición del
                            contenedor (frecuentemente un Dockerfile). Esto incluye (IBM, 2024):
                          <ul>
                            <li>Gestionar la escalabilidad (arriba y abajo), el equilibrio de carga y la asignación de
                              recursos entre los contenedores.</li>
                            <li>Garantizar la disponibilidad y el rendimiento mediante la reubicación de los
                              contenedores
                              a otro host en caso de que se produzca una interrupción o escasez de recursos del sistema.
                            </li>
                            <li>Recopilación y almacenamiento de datos de registro y otra telemetría utilizada para
                              monitorear el estado y el rendimiento de la aplicación.</li>
                          </ul>
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-gc" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Gesti&oacute;n de la Configuraci&oacute;n <i
                              class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-gc">
                          <p>
                            (Danby, 2023) menciona que la Gestión de la Configuración es la práctica que ayuda a unir
                            todos los procesos de la Gestión de Servicios de IT (ITSM), asegurando que los activos
                            necesarios para la prestación de servicios estén adecuadamente gestionados y que toda la
                            información precisa y confiable sobre ellos esté disponible en el lugar y momento
                            requeridos.
                            <br>
                            Sus objetivos son los siguientes:
                          <ul>
                            <li>Identificar, controlar y cuidar adecuadamente los activos.</li>
                            <li>Identificar, controlar, registrar, informar, auditar y verificar los servicios y otros
                              Elementos de Configuración o Configuration Items (CIs).
                            </li>
                            <li>Contabilizar, gestionar y proteger la integridad de los CIs. </li>
                            <li>Establecer y mantener un Sistema de Gestión de la Configuración o Configuration
                              Management System (CMS).</li>
                            <li>Mantener la información precisa sobre la configuración.</li>
                            <li>Apoyar procesos eficientes y eficaces de la Gestión de Servicios.</li>
                          </ul>
                          Características claves de las herramientas de Gestión de la Configuración:
                          <ul>
                            <li>Automatización de Despliegues: Integran scripts y configuraciones para automatizar el
                              despliegue de nuevas versiones del
                              software, asegurando coherencia en todos los entornos (desarrollo, pruebas, producción).
                            </li>
                            <li>Gestión de Entornos: Controlan y mantienen la configuración específica de diferentes
                              entornos, permitiendo que el software funcione de manera coherente en diferentes
                              plataformas y escenarios.</li>
                            <li>Identificación de Configuración: Define y rastrea los atributos de los elementos de
                              configuración (CIs) como versiones de software o infraestructura. Esta fase también
                              establece las "líneas base", que son configuraciones iniciales o de producción que sirven
                              como punto de referencia.</li>
                            <li>Control de Cambios de Configuración: Gestiona y documenta los cambios de configuración,
                              evaluando su impacto y asegurando que todos los cambios sean aprobados y registrados para
                              mantener la integridad del sistema.</li>
                            <li>Contabilidad del Estado de la Configuración (CSA): Registra y verifica los detalles de
                              identificación y cambios en la configuración, asegurando un historial completo y accesible
                              para auditorías y análisis.</li>
                            <li>Auditorías de Configuración: Evalúan el cumplimiento de las configuraciones respecto a
                              los estándares establecidos y detectan anomalías. Pueden ser realizadas internamente o por
                              terceros.</li>
                            <li>Plan de Gestión de la Configuración (CMP): Documenta las prácticas y procedimientos de
                              CM, definiendo el alcance, actividades, roles, y herramientas utilizadas en el proceso.
                            </li>
                          </ul>
                          (Chrystal R. China & Michael Goodwin, 2024; Nguyen, 2023)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-iac" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Infraestructura como código (IaC) <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-iac">
                          <p>
                            Utilizar infraestructura como código (IaC) implica diseñar y gestionar una infraestructura
                            de TI, que generalmente incluye recursos computacionales y varias capas de software,
                            mediante la definición y ejecución de código escrito en lenguajes de programación
                            específicos para este propósito. Es un enfoque innovador para la automatización de la
                            infraestructura de TI, que toma prestadas prácticas del desarrollo de software. Este enfoque
                            se centra en la creación de rutinas consistentes y repetibles para el aprovisionamiento y la
                            modificación de sistemas y sus configuraciones. Mediante IaC, los cambios en la
                            infraestructura se gestionan como código, lo que permite versionarlos, revisarlos y
                            auditarlos de manera similar al código de software tradicional. (Morris, 2021)
                            <br>
                          <ul>
                            <li>Definición de Infraestructura Declarativa o Imperativa: Las herramientas IaC permiten
                              definir la infraestructura ya sea de manera declarativa (describiendo el estado deseado
                              sin
                              especificar cómo alcanzarlo) o imperativa (detallando los pasos necesarios para configurar
                              el sistema). Esto facilita tanto la implementación como el mantenimiento de los recursos.
                            </li>
                            <li>Automatización y Provisión de Infraestructura: Una de las principales ventajas de IaC es
                              la capacidad de automatizar la provisión de infraestructura. Esto significa que los
                              entornos
                              pueden ser creados, replicados y actualizados de manera rápida y uniforme mediante scripts
                              o
                              plantillas, reduciendo errores y tiempos de implementación.</li>
                            <li>Control de Versiones y Auditoría: Al tratar la infraestructura como código, se pueden
                              aplicar sistemas de control de versiones como Git. Esto permite un seguimiento detallado
                              de
                              los cambios, así como la posibilidad de revertir configuraciones a estados anteriores,
                              garantizando un historial completo y la capacidad de auditar modificaciones.</li>
                            <li>Idempotencia: Las herramientas IaC aseguran que la aplicación de un script o
                              configuración
                              repetidamente no tendrá efectos adversos si el entorno ya se encuentra en el estado
                              deseado.
                              Esto significa que las configuraciones se pueden aplicar sin miedo a causar
                              inconsistencias.</li>
                            <li>Orquestación y Gestión de Configuraciones: Además de provisionar recursos, estas
                              herramientas permiten gestionar la configuración de servicios y aplicaciones en esos
                              recursos, asegurando que todas las dependencias y configuraciones necesarias se apliquen
                              de forma coherente.</li>
                            <li>Integración con CI/CD: Las herramientas de IaC se integran con pipelines de Integración
                              Continua y Entrega Continua (CI/CD), permitiendo que la infraestructura se actualice
                              automáticamente junto con los cambios en el código de la aplicación, lo que fomenta la
                              agilidad y la coherencia en los despliegues.</li>
                            <li>Gestión Multicloud y de Híbridos: Muchas herramientas IaC soportan múltiples proveedores
                              de nube y entornos híbridos, permitiendo a las organizaciones gestionar su infraestructura
                              en diferentes plataformas desde una única base de código, lo cual es crucial para
                              estrategias multicloud.</li>
                          </ul>
                          (April Yoho, 2022; Flavius Dinu, 2024)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-itsm" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Gesti&oacute;n de servicios (ITSM) <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-itsm">
                          <p>
                            ITSM, abarca una serie de procesos y tecnologías de gestión, que tiene como objetivo
                            asegurar la calidad del servicio y la experiencia del usuario (Diao et al., 2016), porque es
                            la idea de que la TI debe funcionar como un servicio, esto incluye todos los procesos y
                            actividades necesarios para diseñar, crear, entregar y respaldar los servicios de TI
                            (Atlassian, 2024b). Además, la Biblioteca de Infraestructura de Tecnología de la Información
                            (ITIL) (Arraj, 2010; Potgieter et al., 2005), reconocida por sus mejores prácticas
                            ampliamente aceptadas en ITSM, se enfoca en alinear los servicios de TI con los requisitos
                            del negocio. Para cumplir con los objetivos de ITSM/ITIL, la gestión de alertas e incidentes
                            se ha vuelto un componente crucial. En la figura 3 se muestran la relación de algunos
                            conceptos importantes tratados dentro de ITSM.
                            <br>
                            <br>
                            <img src="{% static 'images/ITSM.jpg' %}" alt="itsm">
                            <br>
                            Según menciona (Yu et al., 2024), los datos de monitoreo recopilados por el sistema de
                            monitoreo son la base de estos conceptos, aunque el sistema de monitoreo no es el enfoque
                            principal está dentro del flujo del trabajo general, como se muestra en la figura 4, es
                            parte pues hace que se accione la gestión de TI.
                            <br>
                            <br>
                            (Atlassian, 2024b) identifica como los procesos y servicios de ITSM los siguientes:
                          <ul>
                            <li>Gestión de solicitudes de asistencia: Procedimiento repetitivo para manejar diversas
                              solicitudes de asistencia al cliente, como acceso a aplicaciones, mejoras de software y
                              actualizaciones de hardware. Beneficia de ofrecer conocimientos a los clientes y
                              automatizar
                              tareas.</li>
                            <li>Gestión del conocimiento: Proceso de crear, compartir, utilizar y administrar el
                              conocimiento e información de una empresa para alcanzar objetivos organizativos
                              eficientemente.</li>
                            <li>Gestión de activos de TI (ITAM): Asegura que los activos de una empresa se contabilicen,
                              implementen, mantengan, actualicen y eliminen en el momento adecuado, rastreando y
                              utilizando correctamente los elementos valiosos.</li>
                            <li>Gestión de incidentes: Responde a eventos no planificados o interrupciones del servicio
                              para recuperar el estado operativo rápidamente, considerando los múltiples puntos de fallo
                              potenciales en servicios de software.</li>
                            <li>Gestión de problemas: Identifica y gestiona las causas de los incidentes en un servicio
                              de TI, enfocándose en detectar y comprender las causas subyacentes y eliminar el origen
                              del
                              problema.</li>
                            <li>Gestión de cambios: Utiliza procedimientos estándar para gestionar eficientemente los
                              cambios en la infraestructura de TI, implementando nuevos servicios, administrando los
                              existentes o resolviendo problemas en el código, evitando cuellos de botella y minimizando
                              riesgos.</li>
                          </ul>
                          <br>
                          Un software de centro de asistencia debería hacer lo siguiente según (Atlassian, 2024a):
                          <ul>
                            <li>Incidencias: Facilita a los equipos probar un centro de asistencia mediante un portal
                              sencillo e intuitivo que permita a clientes y empleados obtener ayuda rápidamente y
                              optimice el trabajo entrante.</li>
                            <li>Colas de solicitudes: Agrupa solicitudes de correo electrónico, herramientas de chat, el
                              centro de asistencia y otros canales. Configura colas para rastrear, evaluar y asignar
                              solicitudes, agrupando tickets similares y categorizando asistencia, incidentes, problemas
                              y cambios.</li>
                            <li>Autoservicio: Permite a clientes y empleados encontrar respuestas a preguntas comunes
                              usando un portal de autoservicio. Utiliza la base de conocimientos para mostrar artículos
                              relevantes y reducir solicitudes, proporcionando ayuda sin necesidad de un agente.</li>
                            <li>Acuerdos de nivel de servicio (SLA): Configura múltiples políticas de SLA para seguir
                              los plazos según el tiempo transcurrido o categorías de solicitud. Resuelve solicitudes
                              basadas en prioridades y usa reglas de escalación automatizadas para notificar al equipo
                              correcto y evitar incumplimientos de SLA.</li>
                            <li>Informes y métricas: Mejora el servicio con una herramienta integrada para recopilar
                              comentarios de clientes, y supervisa y optimiza el trabajo del equipo con tableros e
                              informes detallados.</li>
                          </ul>
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-icm" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Gesti&oacute;n de Incidentes (IcM) <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-icm">
                          <p>
                            La gestión de incidentes forma parte de la ITSM e incluye principalmente cinco procesos:
                          <ul>
                            <li>
                              <a class="nav-link nav-link-sublink" data-toggle="collapse" href="#ui-ri"
                                aria-expanded="false" aria-controls="ui-basic">
                                <h4 class="menu-title">Representaci&oacute;n de incidentes <i
                                    class="fa fa-eye mx-0"></i>
                                </h4>
                              </a>
                              <div class="collapse" id="ui-ri">
                                <p>
                                  La representación del texto de un ticket de incidente en una forma numérica es
                                  esencial para el análisis automatizado. Este proceso comienza con la caracterización
                                  textual, dividiendo el contenido del ticket en características específicas.
                                  <br>
                                  1. Desafíos Textuales y Soluciones:
                                <ul>
                                  <li>Errores ortográficos: Se utilizan técnicas de corrección ortográfica.</li>
                                  <li>Variaciones de palabras: Se aplican técnicas de derivación como el algoritmo de
                                    Porter.</li>
                                  <li>Sinónimos y términos compuestos: Se emplean técnicas de detección de sinónimos y
                                    procesamiento de términos compuestos.</li>
                                </ul>
                                2. Etiquetas de Partes del Discurso (POS): Métodos de Procesamiento de Lenguaje Natural
                                (PNL), como Stanford POS Tagger, se utilizan para identificar sustantivos, verbos, etc.,
                                en el texto.
                                <br>
                                3. Palabras Vacías: Se filtran palabras sin sentido mediante listas de exclusión y
                                métodos automatizados que identifican palabras frecuentemente irrelevantes.
                                <br>
                                4. Representación Avanzada:
                                <ul>
                                  <li>Características basadas en atributos: Incluyen categóricas, numéricas y textuales.
                                  </li>
                                  <li>Características semánticas: Uso de modelos como Asignación Latente de Dirichlet
                                    (LDA) para una representación más efectiva.</li>
                                  <li>Frases clave: Extracción de frases útiles mediante algoritmos como
                                    Lempel–Ziv–Welch (LZW) y Aho–Corasick (AC).</li>
                                </ul>
                                5. Métodos de Aprendizaje Profundo:
                                <ul>
                                  <li>Modelos neuronales: Uso de redes neuronales convolucionales (CNN) para
                                    codificación específica del dominio.</li>
                                  <li>Modelos preentrenados: Uso de BERT para extraer características a nivel de
                                    palabra.
                                  </li>
                                  <li>Métodos avanzados: Incluyen el aprendizaje de representación gráfica y modelos
                                    semánticos estructurados profundos (DSSM) para mejorar la coincidencia y relevancia
                                    del texto.</li>
                                </ul>
                                </p>
                              </div>
                            </li>
                            <li>
                              <a class="nav-link nav-link-sublink" data-toggle="collapse" href="#ui-vi"
                                aria-expanded="false" aria-controls="ui-basic">
                                <h4 class="menu-title">Vinculaci&oacute;n de incidentes <i class="fa fa-eye mx-0"></i>
                                </h4>
                              </a>
                              <div class="collapse" id="ui-vi">
                                <p>
                                <ul>
                                  <li>Proceso de conectar un incidente con incidentes relacionados u otros elementos.
                                  </li>
                                  <li>Proporciona información intuitiva para ayudar en el envío y análisis de tickets.
                                  </li>
                                  <li>Métodos de correlación de alertas se aplican para tickets de monitoreo.</li>
                                  <li>Tres categorías de métodos:
                                    <p>
                                    <ul style="list-style-type: decimal;">
                                      <li>
                                        Métodos Basados en CMDB: Utilizan la base de datos de gestión de
                                        configuración
                                        (CMDB) para reconocer y vincular elementos de configuración (CI) en tickets.
                                        Métodos propuestos:
                                        <ul>
                                          <li>(Gupta et al., 2008a, 2008b): Integración de información y aprendizaje
                                            automático para vincular incidentes y CI.</li>
                                          <li>(Gupta et al., 2009): Clasificación automatizada y asociación de recursos
                                            con
                                            tickets mediante integración con CMDB.</li>
                                          <li>(Marcu et al., 2009): Correlación de tickets manuales y de monitoreo
                                            utilizando definiciones de servicio y descripciones de infraestructura.</li>
                                          <li>(Jan et al., 2013): Uso de Campo Aleatorio Condicional (CRF) para
                                            identificar
                                            nombres de servidores en tickets y vincular información diversa.</li>
                                        </ul>
                                      </li>
                                      <li>
                                        Métodos Basados en Clusterización: Utilizan técnicas de agrupamiento para
                                        vincular incidentes. Métodos propuestos:
                                        <ul>
                                          <li>(Lin et al., 2014): Diferentes enfoques de teoría de grafos para tickets
                                            de
                                            monitorización y manuales.</li>
                                          <li>(S. Mani et al., 2014): Indexación semántica latente y n-gramas
                                            jerárquicos
                                            para agrupar texto no estructurado.</li>
                                          <li>(Maksai et al., 2014): Técnica de dos etapas para clasificar tickets de
                                            incidentes.</li>
                                          <li>(Silva et al., 2018): Agrupación jerárquica basada en la relación de
                                            eventos
                                            compartidos entre incidentes.</li>
                                          <li>(Chen et al., 2021): GRLIA, un marco de agregación de incidentes basado en
                                            aprendizaje de representación gráfica.</li>
                                        </ul>
                                      </li>
                                      <li>
                                        Métodos Basados en Aprendizaje Supervisado: Utilizan métodos de aprendizaje
                                        supervisado para vincular incidentes. Métodos propuestos:
                                        <ul>
                                          <li>(Xu et al., 2020): Medida de similitud de múltiples vistas integrando
                                            diferentes
                                            tipos de medidas de similitud.</li>
                                          <li>(Y. Chen et al., 2020): LiDAR, un enfoque de aprendizaje profundo que
                                            incorpora
                                            descripciones textuales e información estructural de dependencias.</li>
                                          <li>(Gu et al., 2020): LinkCM, un enfoque basado en aprendizaje por
                                            transferencia para
                                            vincular tickets manuales y de monitoreo.</li>
                                        </ul>
                                      </li>
                                    </ul>
                                    </p>
                                  </li>
                                </ul>
                                </p>
                              </div>
                            </li>
                            <li>
                              <a class="nav-link nav-link-sublink" data-toggle="collapse" href="#ui-cli"
                                aria-expanded="false" aria-controls="ui-basic">
                                <h4 class="menu-title">Clasificaci&oacute;n de incidentes <i class="fa fa-eye mx-0"></i>
                                </h4>
                              </a>
                              <div class="collapse" id="ui-cli">
                                <p>
                                  La clasificación de incidentes se refiere a la identificación del experto o grupo
                                  adecuado para resolver un ticket de incidente. Tradicionalmente, los OCE (operadores
                                  de centros de control) realizaban esta tarea manualmente, lo que requería
                                  conocimientos específicos del dominio, lo que resultaba ser ineficiente y costoso en
                                  términos de tiempo y esfuerzo. Se han propuesto métodos automatizados para mejorar
                                  esta eficiencia desde dos perspectivas: automatizar la clasificación de tickets y
                                  proporcionar información auxiliar para ayudar a los OCE.
                                <ul>
                                  <li>
                                    Métodos de triaje automatizado
                                    <ul>
                                      <li>Basados en contenido: Estos métodos utilizan el texto de los tickets para
                                        encontrar asociaciones históricas entre expertos y descripciones de tickets.
                                        Generalmente, consideran el triaje como un problema de clasificación de texto.
                                        Ejemplos incluyen el uso de Máquinas de Vectores de Soporte (SVM) y otros
                                        algoritmos para predecir el grupo de resolución más adecuado para un nuevo
                                        ticket.</li>
                                      <li>Basados en secuencias: En lugar de asignaciones únicas, estos métodos
                                        consideran la reasignación continua de tickets. Utilizan secuencias de
                                        enrutamiento de tickets para despacharlos, modelando las decisiones de
                                        transferencia en redes colaborativas. Ejemplos incluyen herramientas como
                                        EasyTicket, que capturan decisiones de transferencia basadas en secuencias
                                        históricas.</li>
                                      <li>Métodos híbridos: Combina información múltiple como el contenido del ticket,
                                        la secuencia de enrutamiento y la capacidad de los expertos. Estos métodos
                                        suelen ser más efectivos, mejorando la eficiencia al utilizar tanto la
                                        información del contenido del ticket como las secuencias de resolución. Ejemplos
                                        incluyen técnicas de minería de secuencias y modelos que combinan descripciones
                                        de problemas y secuencias de resolución.</li>
                                    </ul>
                                  </li>
                                  <li>
                                    Métodos auxiliares para ayudar en el triaje manual: Aunque la industria de servicios
                                    de TI está evolucionando hacia un modelo asistido
                                    por tecnología, aún se requiere participación manual cuando los métodos
                                    automatizados no están disponibles o fallan. Algunos métodos proporcionan
                                    información auxiliar para ayudar a los OCE en la toma de decisiones de triaje.
                                    <ul>
                                      <li>Identificación de problemas basada en tickets: Estos métodos pueden
                                        identificar automáticamente problemas en los tickets a través del análisis de
                                        texto, ayudando a los OCE a encontrar expertos responsables. Ejemplos incluyen
                                        enfoques basados en reglas y análisis automático de texto para inferir problemas
                                        y acciones de resolución.</li>
                                      <li>Clasificación automatizada de incidentes del servidor: Utilizando
                                        clasificadores como el bosque aleatorio o la máquina de refuerzo de gradiente,
                                        estos métodos predicen si un servidor es problemático basándose en información
                                        de hardware, sistema operativo y utilización, mejorando la precisión de la
                                        clasificación de incidentes.</li>
                                      <li>Técnicas basadas en clustering y descubrimiento de palabras clave: Estas
                                        técnicas extraen problemas de los tickets de monitoreo y manuales,
                                        proporcionando información concisa y efectiva para la toma de decisiones de
                                        triaje.</li>
                                    </ul>
                                  </li>
                                </ul>
                                </p>
                              </div>
                            </li>
                            <li>
                              <a class="nav-link nav-link-sublink" data-toggle="collapse" href="#ui-mi"
                                aria-expanded="false" aria-controls="ui-basic">
                                <h4 class="menu-title">Mitigaci&oacute;n de incidentes <i class="fa fa-eye mx-0"></i>
                                </h4>
                              </a>
                              <div class="collapse" id="ui-mi">
                                <p>
                                  Tradicionalmente, los expertos, basándose en su conocimiento del dominio, intentan
                                  diferentes acciones de mitigación, como reiniciar servidores, reemplazar hardware
                                  defectuoso o aumentar la capacidad del hardware. Este enfoque manual es lento y
                                  prolonga el tiempo de recuperación del incidente.
                                  <br>
                                  En algunas organizaciones, los expertos registran los pasos prácticos de mitigación
                                  para incidentes específicos en documentos llamados guías de resolución de problemas
                                  (TSG).
                                  <br>
                                  Por ejemplo, en Microsoft, estos documentos son reutilizados para incidentes
                                  repetidos. Jiang et al. (2020) propusieron un sistema automatizado, DeepRmd, que
                                  recomienda las TSG adecuadas basándose en la similitud textual entre la descripción
                                  del incidente y las TSG existentes, utilizando técnicas de aprendizaje profundo.
                                  Además, los métodos de vinculación de incidentes pueden también encontrar las mejores
                                  TSG para incidentes actuales al relacionarlos con incidentes históricos similares.
                                  <br>
                                  Soluciones Automatizadas para la Mitigación de Incidentes
                                <ul style="list-style-type: decimal;">
                                  <li>NetPilot (Wu et al., 2012):
                                    <ul>
                                      <li>
                                        Mitiga automáticamente fallas en la red del centro de datos mediante acciones
                                        simples como desactivar o reiniciar componentes sospechosos.
                                      </li>
                                      <li>Utiliza un método de prueba y error inteligente para identificar y mitigar
                                        problemas
                                        sin encontrar la causa raíz exacta.</li>
                                      <li>
                                        Se compone por: un estimador de impacto y un planificador de mitigación
                                        específico
                                        para minimizar las pruebas y prevenir acciones disruptivas.
                                      </li>
                                    </ul>
                                  </li>
                                  <li>
                                    AISTAR (Wang et al., 2018):
                                    <ul>
                                      <li>
                                        Hace una recomendación automatizada de acciones de mitigación.
                                      </li>
                                      <li>
                                        Formaliza el proceso como un problema de bandido multiarmado con brazos
                                        dependientes
                                        y utiliza scripts preparados para tipos específicos de incidentes.
                                      </li>
                                      <li>
                                        Analiza el contenido de los tickets y utiliza el conocimiento del dominio para
                                        sugerir y ejecutar rápidamente la automatización adecuada.
                                      </li>
                                    </ul>
                                  </li>
                                  <li>
                                    AESOP (Deb et al., 2017):
                                    <ul>
                                      <li>
                                        Aprende automáticamente políticas y reglas para activar acciones correctivas en
                                        la
                                        red.
                                      </li>
                                      <li>
                                        Combina mejores prácticas operativas con datos de medición, registros operativos
                                        y
                                        series temporales de medición de alta dimensión.
                                      </li>
                                      <li>
                                        Utiliza grandes cantidades de datos para capturar condiciones y acciones
                                        operativas,
                                        proporcionando una base para políticas de mitigación.
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                                </p>
                              </div>
                            </li>
                            <li>
                              <a class="nav-link nav-link-sublink" data-toggle="collapse" href="#ui-resi"
                                aria-expanded="false" aria-controls="ui-basic">
                                <h4 class="menu-title ">Resoluci&oacute;n de incidentes <i class="fa fa-eye mx-0"></i>
                                </h4>
                              </a>
                              <div class="collapse" id="ui-resi">
                                <p>
                                  Después de mitigar un incidente, los expertos deben:
                                <ul style="list-style-type: decimal;">
                                  <li>Descubrir la causa raíz del incidente.</li>
                                  <li>Resolverlo completamente utilizando resoluciones de incidentes similares en
                                    tickets
                                    históricos.</li>
                                </ul>
                                Recomendación de Resolución
                                <ul>
                                  <li>(Tang et al., 2013): Usaron el algoritmo k-nearest neighbor (KNN) para recomendar
                                    resoluciones basándose en la similitud de Jaccard entre tickets históricos y nuevos.
                                    Sin
                                    embargo, esta técnica ignora información semántica y puede ser afectada por ruido en
                                    los
                                    tickets.</li>
                                  <li>(Kang et al., 2010): Presentaron una medida de similitud rica en conocimiento que
                                    incorpora descripción del incidente, grupos de expertos y clasificación de
                                    incidentes
                                    para mejorar la precisión de la recomendación.</li>
                                  <li>(Zhou et al., 2015, 2016): Mejoraron el método de Tang et al. utilizando
                                    características temáticas a través del modelo LDA y el aprendizaje métrico para una
                                    mejor medición de similitud.</li>
                                  <li>(Wang et al., 2017): Proporcionaron un enfoque específico de dominio para extraer
                                    frases útiles mediante modelado de ontología para eliminar el ruido en los tickets.
                                  </li>
                                  <li>(Zhou et al., 2017): Desarrollaron un marco integrado que cuantifica la calidad de
                                    las
                                    resoluciones y usa redes neuronales profundas para recomendar resoluciones basadas
                                    en la
                                    coincidencia de resúmenes y resoluciones de tickets.</li>
                                </ul>
                                Recomendación de Acción
                                <br>
                                Debido a que las resoluciones suelen ser extensas, se han desarrollado técnicas para
                                extraer acciones específicas necesarias para la automatización:
                                <ul>
                                  <li>(Wei et al., 2007): Propusieron estructurar tickets para extraer pasos de
                                    resolución
                                    mediante CRFs, basándose en anotaciones manuales.</li>
                                  <li>(Aggarwal et al., 2016): Presentaron ReAct, un sistema que identifica
                                    automáticamente
                                    un conjunto de acciones y su secuencia para resolver problemas, utilizando análisis
                                    de
                                    texto en tickets históricos.</li>
                                  <li>(Agarwal et al., 2017): Desarrollaron un sistema inteligente para la resolución
                                    automática de problemas que identifica clases de problemas, vincula problemas con
                                    cambios recientes en el sistema y recomienda acciones de resolución basándose en
                                    técnicas de NLP y análisis de similitud.</li>
                                </ul>
                                </p>
                              </div>
                            </li>
                            (Yu et al., 2024).
                          </ul>
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la
                    Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td style="text-align: center;">
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Reporte</h4>
                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">
                              <div class="col-lg-12 stretch-card">
                                <h2 style="text-align: center;" class="col-lg-8 text-primary">
                                  {{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 style="text-align: center;" class="col-lg-4 text-primary">
                                  {{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p style="text-align: center;" class="mb-2 mb-xl-0">El total de categor&iacute;as de
                                herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
                href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->


  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}") + "%";

</script>

</html>