{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Perfil de Usuario - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <style>
    .form-group label {
      font-size: 1rem;
    }

    .form-control {
      font-size: 1rem;
    }
  </style>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-plan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-plan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-codif" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-codif">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-const" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-const">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'construcciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-prueb" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-prueb">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-lib" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-lib">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-desp" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-desp">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguetareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguepracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'despliegueherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-op" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-op">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionestareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionesherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-mon" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-mon">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreotareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreopracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreoherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Perfil de usuario</h2>

                </div>
              </div>
            </div>


            <div class="row">

            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputName1">Nombre</label>
                    <h3> {{ user.socialaccount_set.all.0.extra_data.name}} </h3>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Email</label>
                    <h3> {{ user.socialaccount_set.all.0.extra_data.email}}</h3>
                  </div>
                  <form class="forms-sample" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                      <label for="exampleInputPassword4">Tipo de empresa</label>
                      <input value="{{objetoBaseDatos.tipoEmpresa}}" type="text" class="form-control" id="tipoEmpresa"
                        name="tipoEmpresa" placeholder="Tipo de empresa">
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">Número de empleados</label>
                      <input value="{{objetoBaseDatos.numeroEmpleados}}" type="number" class="form-control"
                        id="numeroEmpleados" name="numeroEmpleados" placeholder="Número de empleados">
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">Número de proyectos</label>
                      <input value="{{objetoBaseDatos.numeroProyectos}}" type="number" class="form-control"
                        id="numeroProyectos" name="numeroProyectos" placeholder="Número de proyectos">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. 
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
              href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>            
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

  <script>
    var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
    diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
    var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
    diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

    var dictFalsos = JSON.parse(diccionarioFalsos);
    var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

    /* console.log(dictFalsos); */
    /* console.log( dictVerdaderos); */
    var count = Object.keys(dictVerdaderos).length;
    console.log(count)


    var llaves = Object.keys(dictVerdaderos);
    console.log(llaves)

    for (var i = 0; i < count; i++) {
      var checkedElement = document.getElementsByName(llaves[i]);
      checkedElement[0].checked = true;
      console.log(checkedElement);

    }

  </script>

  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
