{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Planificaci&oacute;n - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-plan" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-plan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'planificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-codif" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-codif">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'codificacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-const" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-const">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'construcciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'construccionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-prueb" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-prueb">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-lib" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-lib">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberaciontareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionpracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'liberacionherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-desp" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-desp">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguetareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'desplieguepracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'despliegueherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-op" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-op">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionestareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionespracticas' %}">Pr&aacute;cticas</a>
                <li class="nav-item"> <a class="nav-link" href="{% url 'operacionesherramientas' %}">Herramientas</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-mon" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-mon">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreotareas' %}">Tareas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreopracticas' %}">Pr&aacute;cticas</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'monitoreoherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Planificaci&oacute;n</h2>

                </div>
              </div>
            </div>

            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Herramientas</h2>
                </div>
              </div>
            </div>


            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripción de la Actividad</h4>
                  <p>
                    Los equipos de DevOps se encargan de conceptualizar y diseñar el software que van a desarrollar,
                    identificando las necesidades del cliente y proponiendo soluciones a través de la elaboración o
                    mejora de un software. En este proceso, detallan las funcionalidades y características que tendrá el
                    software. Además, se planifica qué herramientas utilizar para que el equipo tenga claras las tareas
                    pendientes, el progreso realizado, y evalúen si podrán cumplir con los plazos establecidos, entre
                    otros aspectos (Perera et al., 2017).
                    <br>
                    <br>
                    (Sousa et al., 2019) menciona que el propósito de la planificación es entender qué necesidades hay
                    que cubrir para obtener valor a partir de la información provista por todo el ciclo. Esto fomenta la
                    mejora continua.
                    <br>
                    <br>
                    Con respecto a la planificación busca establecer el conjunto mínimo de funcionalidades que aporten
                    valor en cada iteración. Además de analizar y evaluar las métricas o datos aportados por la
                    monitorización para establecer las mejoras en la siguiente iteración (o etapa). Así mismo, busca
                    establecer los criterios de aceptación a cumplir y elaborar un plan para alcanzar los objetivos
                    planteados. También, permite definir qué actividades realizará y quién las hará, además de diseñar
                    las características a codificar (Badshah et al., 2020).
                    <br>
                    <br>
                    <span class="negrita">Prop&oacute;sito:</span> Entender qué necesidades hay que cubrir para obtener
                    valor.
                    <br>
                    <br>
                    <span class="negrita">Objetivos:</span>
                  <ul>
                    <li>Establecer el conjunto mínimo de funcionalidades que aporten valor en cada iteración.</li>
                    <li>Analizar, evaluar las métricas o datos aportados por la monitorización para establecer las
                      mejoras en la siguiente iteración (o etapa).</li>
                    <li>Establecer los criterios de aceptación a cumplir.</li>
                    <li>Elaborar un plan para alcanzar los objetivos planteados.</li>
                    <li>Definir qué actividades realizará cada quién.</li>
                    <li>Diseñar las características a codificar.</li>
                  </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>En la Planificaci&oacute;n se utilizan software de gestión de proyectos que soporten metodologías
                    ágiles y Scrum, que son
                    comunes en DevOps. Las herramientas permiten organizar el trabajo en sprints, rastrear el backlog, y
                    visualizar el trabajo en curso a través de tableros Kanban o Scrum. A continuación, se describirá:.
                  </p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-gt" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Gesti&oacute;n de tareas <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-gt">
                          <p>
                            La gestión de tareas es el proceso de supervisar y administrar tareas individuales a lo
                            largo de las distintas etapas de un proyecto, desde su inicio hasta su finalización. Este
                            proceso implica la toma de decisiones en tiempo real para adaptarse a cambios, asegurando
                            que las tareas se completen con éxito. Abarca la gestión de aspectos como el presupuesto, el
                            tiempo, el alcance, y los recursos.
                            <br>
                            Se obtienen muchos beneficios tales como:
                          <ul>
                            <li>Mejora de la Eficiencia: Asignación adecuada de recursos y atención a tareas específicas
                              para maximizar la productividad.</li>
                            <li>Enfoque en los Objetivos: Asegura que el trabajo esté alineado con los objetivos
                              finales,
                              evitando desviaciones innecesarias.</li>
                            <li>Organización del Trabajo: Facilita la gestión simultánea de múltiples tareas,
                              optimizando
                              el flujo de trabajo.</li>
                          </ul>
                          Comparación de lo que significa Gestión de Proyectos y Gestión de Tareas
                          <ul>
                            <li>Gestión de Proyectos: Involucra la planificación, ejecución, monitoreo y cierre de un
                              proyecto completo, con un enfoque en alcanzar un objetivo final específico. Requiere una
                              visión global y la gestión de múltiples tareas que contribuyen al proyecto.</li>
                            <li>Gestión de Tareas: Se enfoca en la administración de tareas individuales, desde su
                              concepción hasta su finalización. Es un proceso más detallado que forma parte integral de
                              la
                              gestión de proyectos.</li>
                          </ul>
                          Pasos importantes a tener en cuenta
                          <ul style="list-style-type: decimal;">
                            <li>Priorización: Establecer el orden de importancia de las tareas para garantizar que se
                              completen dentro de las restricciones planificadas.</li>
                            <li>Seguimiento de Hitos: Definir hitos clave para medir el progreso y motivar al equipo.
                            </li>
                            <li>Gestión de Programación: Asignar plazos adecuados para asegurar la finalización oportuna
                              de las tareas.</li>
                            <li>Asignación de Recursos: Distribuir los recursos de manera óptima según las necesidades
                              del proyecto.</li>
                            <li>Colaboración: Mantener al equipo sincronizado para trabajar productivamente hacia los
                              objetivos comunes.</li>
                          </ul>

                          Las herramientas de gestión de tareas son fundamentales para organizar, asignar y
                          monitorizar el progreso de proyectos tanto individuales como en equipo. Estas herramientas
                          ofrecen una variedad de características comunes que facilitan la administración de las
                          tareas. <br>
                          Algunas de las características generales incluyen:
                          <ul>
                            <li>Tableros de Tareas Visuales: Muchos sistemas utilizan tableros Kanban, que permiten
                              visualizar el estado de las tareas a medida que avanzan por diferentes etapas, como "En
                              progreso" o "Completado.</li>
                            <li>Gestión de Prioridades: Permiten a los usuarios asignar niveles de prioridad a las
                              tareas,
                              lo que ayuda a enfocar los esfuerzos en los elementos más críticos primero.</li>
                            <li>Integraciones con Otras Herramientas: La mayoría de las herramientas de gestión de
                              tareas
                              ofrecen integraciones con aplicaciones de terceros, como calendarios, herramientas de
                              comunicación o software de seguimiento de tiempo, lo que facilita la colaboración y la
                              automatización.</li>
                            <li>Asignación y Seguimiento de Tareas: Los usuarios pueden asignar tareas a miembros
                              específicos del equipo, establecer fechas límite y monitorizar el progreso en tiempo real,
                              lo que mejora la productividad y la responsabilidad.</li>
                            <li>Colaboración y Comunicación: Estas herramientas suelen incluir características que
                              facilitan la colaboración, como chats, comentarios y la posibilidad de compartir archivos
                              dentro del mismo entorno de trabajo.</li>
                            <li>Seguimiento del Tiempo: Muchas herramientas incluyen funciones de seguimiento del
                              tiempo,
                              permitiendo a los equipos medir cuánto tiempo se dedica a cada tarea y optimizar la
                              gestión
                              del tiempo.</li>
                          </ul>
                          (Coursera, 2023; Peerbie, 2023; TimeCamp, 2024; Zoho, 2022)
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la
                    Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td>
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Reporte</h4>

                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">
                              <div class="col-lg-12 stretch-card">
                                <h2 class="col-lg-8 text-primary">
                                  {{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 class="col-lg-4 text-primary">{{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p class="mb-2 mb-xl-0">El total de categor&iacute;as de herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
                href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->

  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}") + "%";

</script>

</html>