{%load static%}{%load i18n%}{% load socialaccount%}{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pruebas - DevOps</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'frente/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'css/local-style.css' %}">
  <!-- End plugin css for this page -->
  <link rel="shortcut icon" href="{% static 'images/logo-oscuro.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'indexdash' %}"><img src="{% static 'images/logo.png' %}"
            class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'indexdash' %}"><img
            src="{% static 'images/logo-mini.png' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inicio' %}">
              <i class="fa fa-home mx-0"></i>
              <span class="count">Home</span>
            </a>
          </li>

          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="profile" />
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="{% url 'perfilusuario' %}">
                <i class="ti-settings text-primary"></i>
                Editar Perfil
              </a>
              <a class="dropdown-item" href="{% url 'account_logout' %}">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesi&oacute;n
              </a>
            </div>
          </li>
        </ul>

      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'indexdash' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">DevOps</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'actividades' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Actividades</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'planificacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Planificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'codificacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Codificaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'construccion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Construcci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="background: #4B49AC; color: white;" href="{% url 'pruebas' %}" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pruebas</span>
              <i class="menu-arrow"></i>
            </a>
            <div>
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebastareas' %}">Tareas</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebaspracticas' %}">Pr&aacute;cticas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{% url 'pruebasherramientas' %}">Herramientas</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'liberacion' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Liberaci&oacute;n</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'despliegue' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Despliegue</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'operaciones' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Operaciones</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'monitoreo' %}" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Monitoreo</span>
              <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'referencias' %}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Referencias</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h2>Herramientas</h2>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Descripci&oacute;n de las categor&iacute;as de las herramientas de la Actividad
                  </h4>
                  <p>En Pruebas, se utilizan herramientas especializadas que permiten realizar pruebas de acuerdo
                    con el lenguaje de programación utilizado. Se pueden encontrar herramientas tanto para automatizar
                    la prueba como para la creación y también para el análisis estático de código, con la característica
                    de que dependerá del tipo de lenguaje de programación que se use, el tipo de prueba a ejecutar y
                    hasta por el tipo de aplicación que se está desarrollando. A continuaci&oacute;n se decriben:</p>
                  <nav class="navbar-dropdown">
                    <ul>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-a" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Automatizaci&oacute;n <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-a">
                          <p>
                            Las herramientas de automatización de pruebas están diseñadas para simplificar y acelerar el
                            proceso de pruebas en software, con características clave que son comunes en la mayoría de
                            estas herramientas. <br>
                            Algunas de las características más importantes son:
                          <ul>
                            <li>Automatización de Pruebas: Estas herramientas permiten la ejecución automática de casos
                              de
                              prueba, eliminando la necesidad de intervención manual y acelerando el ciclo de
                              desarrollo.
                              Esto es fundamental en pruebas de regresión, donde se necesita verificar repetidamente que
                              los cambios no introduzcan errores.</li>
                            <li>Integración con CI/CD: La mayoría de las herramientas de pruebas se integran
                              perfectamente
                              con pipelines de Integración Continua y Despliegue Continuo (CI/CD). Esto permite la
                              ejecución automática de pruebas en cada commit de código, garantizando que el software se
                              mantenga en un estado desplegable.</li>
                            <li>Soporte Multiplataforma: Muchas de estas herramientas están diseñadas para trabajar en
                              múltiples entornos, desde pruebas en aplicaciones web, móviles, hasta servicios API.
                              Algunas
                              incluso permiten pruebas en diferentes sistemas operativos y navegadores, lo que amplía su
                              aplicabilidad.</li>
                            <li>Facilidad de Uso y Desarrollo de Scripts: Aunque algunas herramientas requieren
                              habilidades de codificación, muchas ofrecen interfaces de usuario intuitivas y lenguajes
                              de
                              scripting simplificados que facilitan la creación de scripts de prueba, incluso para
                              aquellos con menos experiencia técnica.</li>
                            <li>Soporte para Diversos Lenguajes de Programación: Estas herramientas suelen ofrecer
                              soporte
                              para múltiples lenguajes de programación, lo que permite a los desarrolladores y testers
                              trabajar con las herramientas y frameworks que ya conocen. </li>
                            <li>Escalabilidad y Personalización: Las herramientas más robustas permiten la
                              personalización
                              a través de plugins o configuraciones avanzadas, adaptándose a las necesidades específicas
                              de cada proyecto. También son capaces de manejar grandes volúmenes de pruebas de manera
                              eficiente</li>
                          </ul>
                          (Bravin Wasike, 2023; Khomenko, 2022; Trantorinc, 2023)


                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-cp" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Creaci&oacute;n de Pruebas <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-cp">
                          <p>
                            Hace referencia al software con el que se pueden ejecutar las pruebas necesarias para
                            obtener la calidad necesaria del producto de software y no solo facilitan la generación de
                            casos de prueba, sino que también optimizan la gestión y el seguimiento del proceso de
                            pruebas.
                            <br>
                            Algunas características generales que tienen son:
                          <ul>
                            <li>Facilidad de Uso: Muchas herramientas de creación de pruebas están diseñadas para ser
                              intuitivas, permitiendo que incluso usuarios sin experiencia técnica puedan crear y
                              gestionar casos de prueba. Esto se logra a menudo mediante interfaces de usuario sencillas
                              y
                              soporte para escritura de pruebas en lenguaje natural.</li>
                            <li>Gestión de Casos de Prueba: Estas herramientas suelen incluir funcionalidades para
                              organizar, priorizar y reutilizar casos de prueba. También permiten crear conjuntos de
                              pruebas que pueden ser ejecutados en diferentes entornos y condiciones, facilitando un
                              enfoque estructurado y completo en la prueba del software.</li>
                            <li>Integración con otras Herramientas: Para un flujo de trabajo eficiente, estas
                              herramientas
                              generalmente ofrecen integración con sistemas de seguimiento de errores, CI/CD y otras
                              herramientas de automatización. Esto permite un proceso de prueba y despliegue más fluido,
                              donde las pruebas creadas se pueden automatizar e integrar en pipelines de desarrollo.
                            </li>
                            <li>Colaboración y Gestión del Equipo: Muchas herramientas permiten la colaboración entre
                              equipos, facilitando la gestión de pruebas en proyectos grandes. Los usuarios pueden
                              compartir, revisar y actualizar casos de prueba de manera colaborativa, asegurando que
                              todo el equipo esté alineado.</li>
                            <li>Reportes y Análisis: Proveen informes detallados sobre el rendimiento de las pruebas,
                              cubriendo métricas clave como la cobertura de prueba, defectos encontrados, y la
                              efectividad
                              de los casos de prueba. Esta capacidad de reportes es crucial para entender el progreso y
                              la calidad del software a lo largo del ciclo de desarrollo.</li>
                            <li>Escalabilidad y Flexibilidad: Estas herramientas están diseñadas para ser escalables,
                              soportando desde pequeños proyectos hasta grandes implementaciones. Además, suelen ser
                              flexibles en cuanto a los tipos de pruebas que se pueden crear, ya sea pruebas manuales,
                              automatizadas, o híbridas.</li>
                          </ul>
                          (Sameeksha Medewar, 2024; Tasnim, 2023b; TestingXperts, 2020)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <h4 class="menu-title">Tipos de Pruebas</h4>
                        <p>
                          Existe una amplia gama de tipos de pruebas básicas que se adaptan a distintos proyectos y
                          requisitos. Así que se determinan los tipos de pruebas esenciales (unitarias, funcionales, de
                          rendimiento, de seguridad, etc.) que necesita, y también cualquier requisito especializado que
                          exija su proyecto, incluidas las pruebas de API o de compatibilidad y la herramienta a usar
                          para las pruebas dependerá de ello (Singureanu, 2024). En lo siguiente menciono de las más
                          usadas
                          tanto en entorno DevOps como en la ISO/IEC 29110.
                        </p>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-aec" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">An&aacute;lisis est&aacute;tico de c&oacute;digo <i
                              class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-aec">
                          <p>
                            Es un proceso que se realiza para identificar rápidamente posibles errores o usos inusuales
                            del código (Adobe, 2021). Este proceso destaca problemas de sintaxis y de estilo en el
                            código fuente, dependiendo del lenguaje de programación utilizado. Se puede ejecutar un
                            linter en el código para detectar y corregir errores sutiles de programación o prácticas de
                            codificación no convencionales que podrían causar fallos.
                            <br>
                            El linting puede identificar lo siguiente:
                          <ul>
                            <li>problemas como el uso de variables no inicializadas o no definidas,</li>
                            <li>llamadas a funciones no definidas,</li>
                            <li>paréntesis faltantes,</li>
                            <li>problemas más sutiles como intentos de redefinir tipos o funciones integradas,</li>
                          </ul>
                          A diferencia del formato, que solo reestructura la apariencia del
                          código, el linting analiza cómo se ejecuta el código y detecta errores.
                          <br>
                          (Microsoft, 2024)
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-pu" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Pruebas Unitarias <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-pu">
                          <p>
                            Las pruebas unitarias verifican la presencia de fallas en componentes de software
                            individuales (Pecorelli et al., 2024). (Nguyen Tung et al., 2024) menciona que las pruebas
                            unitarias son un método adecuado para asegurar la calidad del código fuente en las primeras
                            fases del desarrollo. Sugiere también, que estas pruebas deben realizarse incluso antes de
                            que el código fuente esté completamente terminado, ya que todavía hay muchos módulos y
                            componentes por desarrollar.
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-pi" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Pruebas de Integraci&oacute;n <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-pi">
                          <p>
                            Mientras que las pruebas unitarias se centran en probar la funcionalidad de componentes
                            individuales, las pruebas de integración se centran en estas interacciones (Wild et al.,
                            2024). Según la ISO/IEC/IEEE 24765 (ISO/IEC/IEEE, 2017), son pruebas en las que se combinan
                            y prueban componentes de software, componentes de hardware o ambos para evaluar la
                            interacción entre ellos.
                          </p>
                        </div>
                      </li>
                      <li class="nav-item" style="list-style: none;">
                        <a class="nav-link" data-toggle="collapse" href="#ui-pr" aria-expanded="false"
                          aria-controls="ui-basic">
                          <h4 class="menu-title">Pruebas de Regresi&oacute;n <i class="fa fa-eye mx-0"></i></h4>
                        </a>
                        <div class="collapse" id="ui-pr">
                          <p>
                            Según la ISO/IEC/IEEE 24765 (ISO/IEC/IEEE, 2017), son pruebas necesarias para verificar que
                            una modificación en un componente del sistema no ha impactado de manera negativa la
                            funcionalidad, la confiabilidad o el rendimiento, y que no ha generado nuevos errores.
                          </p>
                        </div>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="row">

            </div>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="negrita">Categor&iacute;as de herramientas</h4>
                  <p>
                    Las categor&iacute;as de herramientas con las sugerencias de algunas de ellas que inciden en la
                    Actividad son las siguientes:
                  </p>
                  <div class="table-responsive col-lg-12">
                    <form method="post">
                      {% csrf_token %}
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                              Herramientas
                            </th>
                            <th>
                              Estado
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for field in form %}
                          <tr>
                            <td class="text-wrap">{{ field.label_tag }}</td>
                            <td style="text-align: center;">
                              {{ field }}
                              {% if field.errors %}
                              <div class="error">{{ field.errors }}</div>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <button class="btn btn-success" type="submit">Guardar</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Reporte</h4>

                  <div id="detailedReports" class=" slide detailed-report-carousel position-static pt-2">
                    <div>
                      <div>
                        <div class="row">
                          <div class="col-md-12  d-flex flex-column justify-content-start">
                            <div class="ml-xl-4 ">
                              <div class="col-lg-12 stretch-card">
                                <h2 style="text-align: center;" class="col-lg-8 text-primary">
                                  {{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}% de uso
                                  de herramientas en la Actividad</h2>
                                <h2 style="text-align: center;" class="col-lg-4 text-primary">{{cantidadVerdaderos}}/{{total}}</h2>
                              </div>
                              <p style="text-align: center;" class="mb-2 mb-xl-0">El total de categor&iacute;as de herramientas que sean usadas por
                                el usuario
                                (marcadas) sobre el total existente en la Actividad del proceso de DevOps.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024.
              All rights reserved.</span>
            <span style="font-weight: bold;" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a
                href="https://www.cimat.mx/" target="_blank">CIMAT</a></span>
          </div>
        </footer>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->


  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

<script>

  document.getElementById("id_userId").value = "{{user.socialaccount_set.all.0.uid}}";
  document.getElementById("id_userId").readOnly = true;
  document.getElementById("id_userId").style.display = "none";

  var diccionarioFalsos = "{{diccionarioFalsos|safe}}";
  diccionarioFalsos = diccionarioFalsos.replaceAll('\'', '\"');
  var diccionarioVerdaderos = "{{diccionarioVerdaderos|safe}}";
  diccionarioVerdaderos = diccionarioVerdaderos.replaceAll('\'', '\"');

  var dictFalsos = JSON.parse(diccionarioFalsos);
  var dictVerdaderos = JSON.parse(diccionarioVerdaderos);

  var count = Object.keys(dictVerdaderos).length;

  var llaves = Object.keys(dictVerdaderos);

  for (var i = 0; i < count; i++) {
    var checkedElement = document.getElementsByName(llaves[i]);
    checkedElement[0].checked = true;
  }

  document.getElementById("barraHerramienta").style.width = ("{{cantidadVerdaderos|div:total|mul:100|floatformat:-2}}") + "%";

</script>

</html>