
{% load static %}
{% load allauth i18n %}

<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
<!-- endinject -->
<!-- Plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

<body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <!--<img src="{% static 'images/logo.svg' %}" alt="logo">-->
                </div>
                <h1 style="text-align: center;">
                    {% trans "Cerrar sesi&oacute;n" %}
                </h1>
      
                <p style="text-align: center;">
                    {% trans '¿Estás seguro de que quieres cerrar sesi&oacute;n?' %}
                </p>                      
                <form method="post" style="text-align: center; display: block;">
                  {% csrf_token %}
                  {{ redirect_field }}
                  <div class="col-sm">
                    <span></span>
                  </div>
                  <div class="col-sm">
                  <button type="submit" class="btn btn-primary" style="webkit-border-radius: 28;text-align: center;
                  -moz-border-radius: 28;
                  border-radius: 28px;
                  font-family: Arial;
                  color: #ffffff;
                  font-size: 20px;
                  background: #37517e;
                  padding: 10px 20px 10px 20px;
                  text-decoration: none; text-align: center;">Cerrar sesi&oacute;n</button>
                  </div>
                  <div class="col-sm"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
  </body>


    
